<ion-header>
  <ion-toolbar>
    <ion-title>Datenschutz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-buttons>
      <ion-back-button
        defaultHref=""
        icon="arrow-back"
        color="primary"
      ></ion-back-button
      >Riskestimator
    </ion-buttons>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>
        Für die Webangebote und Webauftritte der Friedrich-Alexander-Universität
        Erlangen-Nürnberg (FAU) ist der Verantwortliche im Sinne der
        Datenschutz-Grundverordnung (DSGVO) und anderer nationaler
        Datenschutzgesetze sowie sonstiger datenschutzrechtlicher Bestimmungen
        die FAU. Sie wird durch ihren Präsidenten gesetzlich vertreten. Die
        Kontaktinformationen erhalten Sie im
        <a href="https://www.fau.de/impressum/"
          >Impressum des zentralen Webauftritts der FAU.</a
        >
      </p>
      <p>
        Für die angebotenen Inhalte auf den Webangeboten und Webauftritten der
        Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU) sind die
        jeweiligen Einrichtungen der FAU verantwortlich. Für Fragen im
        Zusammenhang mit einer betreffenden Angebot wenden Sie sich bitte an den
        jeweiligen verantwortlichen Ansprechpartner oder die jeweilige
        verantwortliche Ansprechpartnerin, wie er oder sie im
        <a href="https://riskestimator.imi.med.fau.de/impressum"
          >Impressum des Webauftritts genannt ist.</a
        >
      </p>
      <h2>Name und Anschrift des Datenschutzbeauftragten</h2>
      <p>
        Norbert Gärtner, RD
        <br />
        Schloßplatz 4
        <br />
        91054 Erlangen
      </p>
      <ul>
        <li>Telefon: Telefon: +49 9131 85-25860</li>
        <li>Fax: +49 9131 85-70239</li>
        <li>E-Mail: datenschutzbeauftragter@fau.de</li>
      </ul>
      <h2>Allgemeines zur Datenverarbeitung</h2>
      <h3>Umfang der Verarbeitung personenbezogener Daten</h3>
      <p>
        Wir verarbeiten personenbezogene Daten unserer Nutzer grundsätzlich nur,
        soweit dies zur Bereitstellung einem funktionsfähigen Webauftrittes
        sowie unserer Inhalte und Leistungen erforderlich ist. Die Verarbeitung
        personenbezogener Daten unserer Nutzer erfolgt regelmäßig nur nach
        Einwilligung des Nutzers. Eine Ausnahme gilt in solchen Fällen, in denen
        eine vorherige Einholung einer Einwilligung aus tatsächlichen Gründen
        nicht möglich ist und die Verarbeitung der Daten durch gesetzliche
        Vorschriften gestattet ist.
      </p>
      <h3>Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h3>
      <p>
        Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine
        Einwilligung der betroffenen Person einholen, dient Art. 6 Abs. 1 lit. a
        EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage. Bei der
        Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines
        Vertrages, dessen Vertragspartei die betroffene Person ist, erforderlich
        ist, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage. Dies gilt
        auch für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher
        Maßnahmen erforderlich sind. Soweit eine Verarbeitung personenbezogener
        Daten zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist,
        der unserer Universität unterliegt, dient Art. 6 Abs. 1 lit. c DSGVO als
        Rechtsgrundlage. Für den Fall, dass lebenswichtige Interessen der
        betroffenen Person oder einer anderen natürlichen Person eine
        Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6
        Abs. 1 lit. d DSGVO als Rechtsgrundlage. Ist die Verarbeitung zur
        Erfüllung der gesetzlichen Aufgaben unserer Universität erforderlich,
        bildet Art. 6 Abs. 1 lit. e DSGVO i.V.m. Art. 4 und 5 BayDSG die
        Rechtsgrundlage für die Verarbeitung. Viele unserer Aufgaben ergeben
        sich aus Art. 2 BayHSchG.
      </p>
      <h3>Datenlöschung und Speicherdauer</h3>
      <p>
        Wir speichern Ihre personenbezogenen Daten nur so lange, wie dies zur
        Erfüllung unserer gesetzlichen Aufgaben bzw. der jeweiligen
        Verarbeitungstätigkeit erforderlich ist. In der Regel bewahren wir
        personenbezogene Daten 10 Jahre lang nach der Entstehung auf. Eine
        Übergabe an staatliche Archive bleibt dazu unberührt. Eine Speicherung
        kann darüber hinaus erfolgen, wenn dies durch den europäischen oder
        nationalen Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder
        sonstigen Vorschriften, denen der Verantwortliche unterliegt, vorgesehen
        wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn
        eine durch die genannten Normen vorgeschriebene Speicherfrist abläuft,
        es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der
        Daten für einen Vertragsabschluss oder eine Vertragserfüllung besteht.
      </p>
      <h2>Bereitstellung des Webauftrittes und Erstellung von Logfiles</h2>
      <h3>Beschreibung und Umfang der Datenverarbeitung</h3>
      <p>
        Bei jedem Aufruf unserer Internetseite erfasst unser System
        automatisiert Daten und Informationen vom Computersystem des aufrufenden
        Rechners. <br />Folgende Daten werden hierbei erhoben:
      </p>
      <ul>
        <li>
          die Adresse (URL) der Webseite, von der aus die Datei angefordert
          wurde
        </li>
        <li>der Name der aufgerufenen Datei</li>
        <li>das Datum und die Uhrzeit der Anforderung</li>
        <li>die übertragene Datenmenge</li>
        <li>
          der Zugriffsstatus (Datei übertragen, Datei nicht gefunden, etc.)
        </li>
        <li>
          die Beschreibung des verwendeten Webbrowsertyps bzw. des verwendeten
          Betriebssystems
        </li>
        <li>die anonymisierte IP-Adresse des anfordernden Rechners.</li>
      </ul>
      <p>
        Die gespeicherten Daten werden ausschließlich zu technischen oder
        statistischen Zwecken benötigt; ein Abgleich mit anderen Datenbeständen
        oder gar eine Weitergabe an Dritte, auch in Auszügen, findet nicht
        statt. Die Daten werden in den Logfiles unseres Systems gespeichert.
        Nicht hiervon betroffen sind die IP-Adressen des Nutzers oder andere
        Daten, die die Zuordnung der Daten zu einem Nutzer ermöglichen: Vor der
        Speicherung wird jeder Datensatz durch Veränderung der IP-Adresse
        anonymisiert. Eine Speicherung dieser Daten zusammen mit anderen
        personenbezogenen Daten des Nutzers findet nicht statt.
      </p>
      <h3>Rechtsgrundlage für die Datenverarbeitung</h3>
      <p>
        Rechtsgrundlage für die vorübergehende Speicherung der Daten und der
        Logfiles ist §§ 14, 15 TMG, § 100 Abs. 1 TKG sowie Art. 4 BayDSG folgend
        aus den Aufgaben des Art. 11 BayEGovG und Art. 7 und 34 BayHO.
      </p>
      <h3>Zweck der Datenverarbeitung</h3>
      <p>
        Die vorübergehende Speicherung der IP-Adresse durch das System ist
        notwendig, um eine Auslieferung des Webauftrittes an den Rechner des
        Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die
        Dauer der Sitzung gespeichert bleiben. Die Speicherung in Logfiles
        erfolgt, um die Funktionsfähigkeit des Webauftrittes sicherzustellen.
        Zudem dienen uns die Daten zur Optimierung des Webauftrittes und zur
        Sicherstellung der Sicherheit unserer informationstechnischen Systeme.
        Eine Auswertung der Daten zu Marketingzwecken findet in diesem
        Zusammenhang nicht statt.
      </p>
      <h3>Dauer der Speicherung</h3>
      <p>
        Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes
        ihrer Erhebung nicht mehr erforderlich sind. Im Falle der Erfassung der
        Daten zur Bereitstellung des Webauftrittes ist dies der Fall, wenn die
        jeweilige Sitzung beendet ist. Im Falle der Speicherung der Daten in
        Logfiles ist dies nach spätestens sieben Tagen der Fall. Eine
        darüberhinausgehende Speicherung ist möglich. In diesem Fall werden die
        IP-Adressen der Nutzer gelöscht oder verfremdet, sodass eine Zuordnung
        des aufrufenden Clients nicht mehr möglich ist.
      </p>
      <h3>Widerspruchs- und Beseitigungsmöglichkeit</h3>
      <p>
        Die Erfassung der Daten zur Bereitstellung des Webauftrittes und die
        Speicherung der Daten in Logfiles ist für den Betrieb der Internetseite
        zwingend erforderlich. Es besteht folglich seitens des Nutzers keine
        Widerspruchsmöglichkeit.
      </p>
      <h2>Verwendung von Cookies</h2>
      <h3>Beschreibung und Umfang der Datenverarbeitung</h3>
      <p>
        Unsere Webseite verwendet Cookies. Bei Cookies handelt es sich um
        Textdateien, die im Internetbrowser bzw. vom Internetbrowser auf dem
        Computersystem des Nutzers gespeichert werden. Ruft ein Nutzer einen
        Webauftritt auf, so kann ein Cookie auf dem Betriebssystem des Nutzers
        gespeichert werden. Dieser Cookie enthält eine charakteristische
        Zeichenfolge, die eine eindeutige Identifizierung des Browsers beim
        erneuten Aufrufen des Webauftrittes ermöglicht.
      </p>
      <p>
        Wir setzen Cookies ein, um unseren Webauftritt nutzerfreundlicher zu
        gestalten. Einige Elemente unserer Internetseite erfordern es, dass der
        aufrufende Browser auch nach einem Seitenwechsel identifiziert werden
        kann.
        <br />
        In den Cookies werden dabei folgende Daten gespeichert und übermittelt:
      </p>
      <ul>
        <li>
          Log-In-Informationen (im Falle von angemeldeten Redakteuren und
          Autoren)
        </li>
        <li>
          Bevorzugte Auswahl der Suchmaschine (bei Nutzung der Suchfunktion)
        </li>
      </ul>
      <p>
        Die auf diese Weise erhobenen Daten der Nutzer werden durch technische
        Vorkehrungen pseudonymisiert. Daher ist eine Zuordnung der Daten zum
        aufrufenden Nutzer nicht mehr möglich. Die Daten werden nicht gemeinsam
        mit sonstigen personenbezogenen Daten der Nutzer gespeichert.
      </p>
      <p>
        Die genannten Cookies sind zum Betrieb der Webseite notwendig und können
        daher nicht abgeschaltet werden. Sie werden nur in den oben angegebenen
        Situationen gesetzt.<br />
        Sollten in einzelnen Seiten des Webauftritts Verfahren enthalten sein,
        die weitere Cookies benötigen, welche nicht betriebsbedingt notwendig
        sind, wird auf diese gesondert hingewiesen. Diese Verfahren werden, so
        solche Verfahen zum Einsatz kommen, in den folgenden Kapiteln dieser
        Datenschutzerklärung aufgeführt.
      </p>
      <h3>Rechtsgrundlage für die Datenverarbeitung</h3>
      <p>
        Rechtsgrundlage für die vorübergehende Speicherung der Daten und der
        Logfiles ist §§ 14, 15 TMG, § 100 Abs. 1 TKG sowie Art. 4 BayDSG folgend
        aus den Aufgaben des Art. 11 BayEGovG und Art. 7 und 34 BayHO
      </p>
      <h3>Zweck der Datenverarbeitung</h3>
      <p>
        Die Verwendung der Analyse-Cookies erfolgt zu dem Zweck, die Qualität
        unseren Webauftritt und ihre Inhalte zu verbessern. Durch die
        Analyse-Cookies erfahren wir, wie der Webauftritt genutzt wird und
        können so unser Angebot stetig optimieren.
      </p>
      <h3>Dauer der Speicherung, Widerspruchs- und Beseitigungsmöglichkeit</h3>
      <p>
        Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an
        unserer Seite übermittelt. Daher haben Sie als Nutzer auch die volle
        Kontrolle über die Verwendung von Cookies. Durch eine Änderung der
        Einstellungen in Ihrem Internetbrowser können Sie die Übertragung von
        Cookies deaktivieren oder einschränken. Bereits gespeicherte Cookies
        können jederzeit gelöscht werden. Dies kann auch automatisiert erfolgen.
        Werden Cookies für unseren Webauftritt deaktiviert, können
        möglicherweise nicht mehr alle Funktionen des Webauftrittes
        vollumfänglich genutzt werden.
      </p>
      <h2>Kontaktformular und E-Mail-Kontakt</h2>
      <h3>Beschreibung und Umfang der Datenverarbeitung</h3>
      <p>
        Auf unserer Internetseite sind Kontaktformulare vorhanden, welche für
        die elektronische Kontaktaufnahme genutzt werden können. Nimmt ein
        Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske
        eingegeben Daten an uns übermittelt und gespeichert. Die konkreten
        Datensätze werden bei den jeweiligen Kontaktformularen aufgeführt und
        erklärt. Sofern sich Abweichungen oder Ergänzungen von den hier
        aufgeführten Grundlagen und Zweck und Dauer der Speicherung ergeben,
        werden diese bei den jeweiligen Kontaktformularen angegeben.
      </p>
      <h3>Rechtsgrundlage für die Datenverarbeitung</h3>
      <p>
        Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer
        Übersendung einer E-Mail übermittelt werden, ist Art. 6 Abs. 1 lit. e
        DSGVO i.V.m. Art. 4 und 5 BayDSG zur Erfüllung der Aufgaben aus § 5 TMG,
        Art. 3 Abs. 1 BayEGovG und § 2 BayBITV Zielt der E-Mail-Kontakt auf den
        Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die
        Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.
      </p>
      <h3>Zweck der Datenverarbeitung</h3>
      <p>
        Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske dient
        uns allein zur Bearbeitung der Kontaktaufnahme. Im Falle einer
        Kontaktaufnahme per E-Mail liegt hierin auch das erforderliche
        berechtigte Interesse an der Verarbeitung der Daten. <br />Die sonstigen
        während des Absendevorgangs verarbeiteten personenbezogenen Daten dienen
        dazu, einen Missbrauch des Kontaktformulars zu verhindern und die
        Sicherheit unserer informationstechnischen Systeme sicherzustellen.
      </p>
      <h2>Dauer der Speicherung</h2>
      <p>
        Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes
        ihrer Erhebung nicht mehr erforderlich sind. Für die personenbezogenen
        Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per
        E-Mail übersandt wurden, ist dies dann der Fall, wenn die jeweilige
        Konversation mit dem Nutzer beendet ist. Beendet ist die Konversation
        dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene
        Sachverhalt abschließend geklärt ist.
      </p>
      <h3>Widerspruchsmöglichkeit</h3>
      <p>
        Aus Gründen, die sich aus Ihrer besonderen Situation ergeben, können Sie
        der Verarbeitung Sie betreffender personenbezogener Daten durch uns
        zudem jederzeit widersprechen (Art. 21 DSGVO). Sofern die gesetzlichen
        Voraussetzungen vorliegen, verarbeiten wir in der Folge Ihre
        personenbezogenen Daten nicht mehr.
      </p>
      <h3>Bereitstellungspflicht</h3>
      <p>
        Soweit die für die Vertragserfüllung erforderliche personenbezogene
        Daten nicht angeben ist diese uns nicht möglich.
      </p>
      <h2>
        Information zur Datenverarbeitung zur Pandemie bedingten
        Kontaktverfolgung im Rahmen Veranstaltungen sowie der Nutzung von
        Einrichtungen an bayerischen staatlichen Hochschulen
      </h2>
      <h3>Allgemeines</h3>
      <p>
        Hinsichtlich der Verarbeitung Ihrer personenbezogenen Daten stehen Ihnen
        als einer betroffenen Person die nachfolgend genannten Rechte gemäß Art.
        15 ff. DSGVO zu:
      </p>
      <ul>
        <li>
          Sie können Auskunft darüber verlangen, ob wir personenbezogene Daten
          von Ihnen verarbeiten. Ist dies der Fall, so haben Sie ein Recht auf
          Auskunft über diese personenbezogenen Daten sowie auf weitere mit der
          Verarbeitung zusammenhängende Informationen (Art. 15 DSGVO). Bitte
          beachten Sie, dass dieses Auskunftsrecht in bestimmten Fällen
          eingeschränkt oder ausgeschlossen sein kann (vgl. insbesondere Art. 10
          BayDSG).
        </li>
        <li>
          Für den Fall, dass personenbezogene Daten über Sie nicht (mehr)
          zutreffend oder unvollständig sind, können Sie eine Berichtigung und
          gegebenenfalls Vervollständigung dieser Daten verlangen (Art. 16
          DSGVO).
        </li>
        <li>
          Bei Vorliegen der gesetzlichen Voraussetzungen können Sie die Löschung
          Ihrer personenbezogenen Daten (Art. 17 DSGVO) oder die Einschränkung
          der Verarbeitung dieser Daten (Art. 18 DSGVO) verlangen. Das Recht auf
          Löschung nach Art. 17 Abs. 1 und 2 DSGVO besteht jedoch unter anderem
          dann nicht, wenn die Verarbeitung personenbezogener Daten erforderlich
          ist zur Wahrnehmung einer Aufgabe. Die im öffentlichen Interesse liegt
          oder in Ausübung öffentlicher Gewalt erfolgt (Art. 17 Abs. 3 Buchst. b
          DSGVO).
        </li>
        <li>
          Sie haben das Recht, sich bei einer Aufsichtsbehörde im Sinn des Art.
          51 DSGVO über die Verarbeitung Ihrer personenbezogenen Daten zu
          beschweren. Zuständige Aufsichtsbehörde für bayerische öffentliche
          Stellen ist der Bayerische Landesbeauftragte für den Datenschutz,
          Wagmüllerstraße 18, 80538 München.
        </li>
      </ul>
      <h3>Pflicht zur Bereitstellung</h3>
      <p>
        Wenn Sie an unseren Veranstaltungen teilnehmen oder unsere Einrichtung
        betreten möchten, sind wir durch die Vorgaben der gesetzlichen
        Unfallversicherung und die aktuellen Rechtsvorschriften zur Bekämpfung
        der Corona-Pandemie verpflichtet, Ihre personenbezogenen Daten zu
        verarbeiten.
      </p>
      <p>
        Wenn Sie die erforderlichen Daten nicht angeben, können wir Ihnen die
        Teilnahme an Veranstaltungen bzw. ein Betreten der Einrichtung leider
        nicht gestatten.
      </p>
      <h3>Zwecke und Rechtsgrundlagen der Verarbeitung</h3>
      <p><strong>Zwecke</strong></p>
      <p>
        Infektionsschutz und Kontaktnachverfolgung bei Veranstaltungen oder
        Besuchen der Einrichtung Erfüllung behördlicher Auflagen zur Sicherheit
        der Veranstaltung.
      </p>
      <p><strong>Rechtsgrundlagen</strong></p>
      <p>
        Rechtsgrundlage für die vorübergehende Speicherung der Daten sind: Art.
        6 Abs. 1 Buchstaben c bzw. d DSGVO und Art. 9 Abs. 2 Buchstabe i DSGVO
        i.V.m. Art. 4 Abs. 1; Art. 5 Abs. 1 S. 1 Nr. 1 BayDSG auf Grundlage von
        BayIfSMV, IfSG, § 21 SGB VII.
      </p>
      <h2>Kategorien der personenbezogenen Daten</h2>
      <h3>Kategorien der Empfänger</h3>
      <div>
        <table>
          <tbody>
            <tr>
              <th>Nr. bei Kategorien</th>
              <th>Empfänger</th>
              <th>Anlass der Offenlegung</th>
              <th>Speicherort</th>
            </tr>
            <tr>
              <td>1, 2</td>
              <td>Zuständige Gesundheitsämter / Kreisverwaltungsbehörden</td>
              <td>§§ 16 Abs. 2 und § 25 Abs. 2 IfSG</td>
              <td>Deutschland</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />

      <h3>
        Vorgesehene Fristen für die Löschung der verschiedenen Datenkategorien
      </h3>
      <div>
        <table>
          <tbody>
            <th>Nr. bei Kategorien</th>
            <th>Löschfrist</th>
            <tr>
              <td>1, 2</td>
              <td>
                Vier Wochen nach dem Besuch und Ende der Veranstaltung bzw.
                Einrichtung, sofern keine Offenlegung erfolgt.
              </td>
              >
            </tr>
            <tr>
              <td>3</td>
              <td>
                Informationen des Gesundheitsamtes werden nicht dauerhaft
                gespeichert.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />

      <div>
        <table>
          <tbody>
            <tr>
              <th>Nummer</th>
              <th>Bezeichnung der Daten</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Kontaktinformationen</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Zeitpunkt und Dauer des Aufenthalts</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Informationen des Gesundheitsamtes</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>SSL-Verschlüsselung</h2>
      <p>
        Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der
        Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die
        Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine
        verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des
        Browsers von http:// auf https:// wechselt und an dem Schloss-Symbol in
        Ihrer Browserzeile.
      </p>
      <p>
        Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an
        uns übermitteln, nicht von Dritten mitgelesen werden.
      </p>
      <h2>Rechte der betroffenen Person</h2>
      <p>
        Hinsichtlich der Verarbeitung Ihrer personenbezogenen Daten stehen Ihnen
        als einer betroffenen Person die nachfolgend genannten Rechte gemäß Art.
        15 ff. DSGVO zu:
      </p>
      <ul>
        <li>
          Sie können <strong>Auskunft</strong> darüber verlangen, ob wir
          personenbezogene Daten von Ihnen verarbeiten. Ist dies der Fall, so
          haben Sie ein Recht auf Auskunft über diese personenbezogenen Daten
          sowie auf weitere mit der Verarbeitung zusammenhängende Informationen
          (Art. 15 DSGVO). Bitte beachten Sie, dass dieses Auskunftsrecht in
          bestimmten Fällen eingeschränkt oder ausgeschlossen sein kann (vgl.
          insbesondere Art. 10 BayDSG).
        </li>
        <li>
          Für den Fall, dass personenbezogene Daten über Sie nicht (mehr)
          zutreffend oder unvollständig sind, können Sie eine
          <strong>Berichtigung</strong> und gegebenenfalls
          <strong>Vervollständigung</strong> dieser Daten verlangen (Art. 16
          DSGVO).
        </li>
        <li>
          Bei Vorliegen der gesetzlichen Voraussetzungen können Sie die
          <strong>Löschung</strong> Ihrer personenbezogenen Daten (Art. 17
          DSGVO) oder die <strong>Einschränkung der Verarbeitung</strong> dieser
          Daten (Art. 18 DSGVO) verlangen. Das Recht auf Löschung nach Art. 17
          Abs. 1 und 2 DSGVO besteht jedoch unter anderem dann nicht, wenn die
          Verarbeitung personenbezogener Daten erforderlich ist zur Wahrnehmung
          einer Aufgabe. Die im öffentlichen Interesse liegt oder in Ausübung
          öffentlicher Gewalt erfolgt (Art. 17 Abs. 3 Buchst. b DSGVO).
        </li>
        <li>
          Sie haben das Recht, soweit Sie eine Einwilligung in die Verarbeitung
          gegeben haben, diese jederzeit zu widerrufen. Der Widerruf wirkt erst
          für die Zukunft; das heißt, durch den Widerruf wird die Rechtmäßigkeit
          der aufgrund der Einwilligung bis zum Widerruf erfolgten
          Verarbeitungen nicht berührt.
        </li>
        <li>
          <strong
            >Aus Gründen, die sich aus Ihrer besonderen Situation ergeben,
            können Sie der Verarbeitung Sie betreffender personenbezogener Daten
            durch uns zudem jederzeit widersprechen (Art. 21 DSGVO).</strong
          >
          Sofern die gesetzlichen Voraussetzungen vorliegen, verarbeiten wir in
          der Folge Ihre personenbezogenen Daten nicht mehr.
        </li>
        <li>
          Soweit Sie in die Verarbeitung eingewilligt haben oder zur
          Vertragserfüllung erfolgt und die Datenverarbeitung mithilfe
          automatisierter Verfahren durchgeführt wird, steht Ihnen
          gegebenenfalls ein Recht auf Datenübertragbarkeit zu (Art. 20 DSGVO).
        </li>
        <li>
          Sie haben das Recht, sich bei einer Aufsichtsbehörde im Sinn des Art.
          51 DSGVO über die Verarbeitung Ihrer personenbezogenen Daten zu
          beschweren. Zuständige Aufsichtsbehörde für bayerische öffentliche
          Stellen ist der Bayerische Landesbeauftragte für den Datenschutz,
          Wagmüllerstraße 18, 80538 München.
        </li>
      </ul>
    </ion-col>
  </ion-row>
</ion-content>
