<ion-header>
  <ion-toolbar>
    <ion-title>Riskestimator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-buttons>
      <ion-back-button
        defaultHref=""
        icon="arrow-back"
        color="primary"
      ></ion-back-button>
    </ion-buttons>

    <ion-row>
      <ion-col>
        <ion-segment (ionChange)="onInputChange($event)">
          <ion-item lines="none">
            <ion-label>
              <ion-segment-button value="range" checked color="primary"
                >Schieber
              </ion-segment-button>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <ion-segment-button value="number">Zahlen</ion-segment-button>
            </ion-label>
          </ion-item>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-segment (ionChange)="onVisChange($event)">
        <ion-row>
          <ion-item lines="none">
            <ion-segment-button value="table" checked
              >4-Felder-Tafel</ion-segment-button
            >
          </ion-item>

          <ion-item lines="none">
            <ion-segment-button value="tree">Baumdiagramm</ion-segment-button>
          </ion-item>

          <ion-item lines="none">
            <ion-segment-button value="unitsquare"
              >Balkendiagramm</ion-segment-button
            >
          </ion-item>
          <ion-item lines="none">
            <ion-segment-button value="icon">Icon Array</ion-segment-button>
          </ion-item>
        </ion-row>
      </ion-segment>
    </ion-row>

    <div *ngIf="selectedInput === 'number'">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Krank & Testpositive Personen</ion-label
            >
            <ion-input
              type="number"
              min="0"
              max="500"
              [(ngModel)]="trueposn"
              (ionChange)="trueposchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Krank & Testnegative Personen</ion-label
            >
            <ion-input
              type="number"
              min="0"
              max="500"
              [(ngModel)]="falsenegn"
              (ionChange)="falsenegchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Gesund & Testpositive Personen</ion-label
            >
            <ion-input
              type="number"
              min="0"
              max="500"
              [(ngModel)]="falseposn"
              (ionChange)="falseposchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Gesund & Testnegative Personen</ion-label
            >
            <ion-input
              type="number"
              min="0"
              max="500"
              [(ngModel)]="truenegn"
              (ionChange)="truenegchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedVis === 'table' && selectedInput === 'number'">
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          Diagnose positiv
        </ion-col>
        <ion-col>
          Diagnose negativ
        </ion-col>
        <ion-col>
          Total
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Test positiv</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="truepos">{{ trueposn }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="falsepos">{{ falseposn }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totaltestposn }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-item>
            <ion-label>Test negativ</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label class="falseneg">{{ falsenegn }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label class="trueneg">{{ truenegn }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label>{{ totaltestnegn }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalilln }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalwelln }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totaln }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >PPV: <span class="spanr">{{ trueposn }}</span>/{{ totaltestposn }}
            = {{ ppvn }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposn }}</span>/{{
            totalilln }} = {{ sensn }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >NPV: <span class="spang">{{ truenegn }}</span>/{{ totaltestnegn }}
            = {{ npvn }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegn }}</span>/{{ totalwelln
            }} {{ specn }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FNR: <span class="spanb">{{ falsenegn }}</span>/{{ totaltestnegn }}
            = {{ fnrn }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: {{ totalilln }}/{{ totaln }} = {{ prevn }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FPR: <span class="spano">{{ falseposn }}</span>/{{ totaltestnegn }}
            = {{ fprn }}%</ion-label
          >
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedInput === 'range'">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Prävalenz in %</ion-label>
            <ion-input
              type="number"
              min="0"
              max="100"
              [(ngModel)]="prevalence"
              (ionChange)="prevalencechange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="prevalence"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Sensitivität in %</ion-label>
            <ion-input
              type="number"
              min="0"
              max="100"
              [(ngModel)]="sensitivity"
              (ionChange)="sensitivitychange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="sensitivity"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Spezifität in %</ion-label>
            <ion-input
              type="number"
              min="0"
              max="100"
              [(ngModel)]="specifity"
              (ionChange)="specifitychange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="specifity"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedInput === 'range' && selectedVis === 'table'">
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          Diagnose positiv
        </ion-col>
        <ion-col>
          Diagnose negativ
        </ion-col>
        <ion-col>
          Total
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Test positiv</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="truepos">{{ trueposr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="falsepos">{{ falseposr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totaltestposr }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-item>
            <ion-label>Test negativ</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label class="falseneg">{{ falsenegr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label class="trueneg">{{ truenegr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label>{{ totaltestnegr }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalillr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalwellr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalr }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >PPV: <span class="spanr">{{ trueposr }}</span>/{{ totaltestposr }}
            = {{ ppvr }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposr }}</span>/{{
            totalillr }} = {{ sensitivity }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >NPV: <span class="spang">{{ truenegr }}</span>/{{ totaltestnegr }}
            = {{ npvr }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegr }}</span>/{{ totalwellr
            }} = {{ specifity }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FNR: <span class="spanb">{{ falsenegr }}</span>/{{ totaltestnegr }}
            = {{ fnrr }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: {{ totalillr }}/{{ totalr }} = {{ prevalence
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FPR: <span class="spano">{{ falseposr }}</span>/{{ totaltestposr }}
            = {{ fprr }}%</ion-label
          >
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedVis === 'tree' && selectedInput === 'number'">
      <ion-row>
        <ion-col offset="4.5">
          <svg>
            <line
              x1="100"
              y1="30"
              x2="0"
              y2="150"
              style="stroke:rgb(0, 0, 0);stroke-width:2"
            />
            <text x="130" y="15" fill="black">{{ totaln }}</text>
            <line
              x1="200"
              y1="30"
              x2="300"
              y2="150"
              style="stroke:rgb(0, 0, 0);stroke-width:2"
            />
          </svg>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="3">
          <svg>
            <line
              x1="100"
              y1="30"
              x2="0"
              y2="150"
              style="stroke:red;stroke-width:2"
            />
            <text x="130" y="15" fill="black">{{ totalilln }}</text>
            <line
              x1="200"
              y1="30"
              x2="300"
              y2="150"
              style="stroke:blue;stroke-width:2"
            />
          </svg>
        </ion-col>
        <ion-col pull="1.5">
          <svg>
            <line
              x1="100"
              y1="30"
              x2="0"
              y2="150"
              style="stroke:orange;stroke-width:2"
            />
            <text x="130" y="15" fill="black">{{ totalwelln }}</text>
            <line
              x1="200"
              y1="30"
              x2="300"
              y2="150"
              style="stroke:green;stroke-width:2"
            />
          </svg>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col push="1.75">
          <svg>
            <text x="130" y="15" fill="red">{{ trueposn }}</text>
          </svg>
        </ion-col>
        <ion-col push="1.25">
          <svg>
            <text x="130" y="15" fill="blue">{{ falsenegn }}</text>
          </svg>
        </ion-col>
        <ion-col pull="1.25">
          <svg>
            <text x="130" y="15" fill="orange">{{ falseposn}}</text>
          </svg>
        </ion-col>
        <ion-col pull="1.75">
          <svg>
            <text x="130" y="15" fill="green">{{ truenegn }}</text>
          </svg>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >PPV: <span class="spanr">{{ trueposn }}</span>/{{ totaltestposn }}
            = {{ ppvn }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposn }}</span>/{{
            totalilln }} = {{ sensn }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >NPV: <span class="spang">{{ truenegn }}</span>/{{ totaltestnegn }}
            = {{ npvn }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegn }}</span>/{{ totalwelln
            }} {{ specn }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FNR: <span class="spanb">{{ falsenegn }}</span>/{{ totaltestnegn }}
            = {{ fnrn }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: {{ totalilln }}/{{ totaln }} = {{ prevn }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FPR: <span class="spano">{{ falseposn }}</span>/{{ totaltestposn }}
            = {{ fprn }}%</ion-label
          >
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedVis === 'tree' && selectedInput === 'range'">
      <ion-row>
        <ion-col offset="4.5">
          <svg>
            <line
              x1="100"
              y1="30"
              x2="0"
              y2="150"
              style="stroke:rgb(0, 0, 0);stroke-width:2"
            />
            <text x="130" y="15" fill="black">{{ totalr }}</text>
            <line
              x1="200"
              y1="30"
              x2="300"
              y2="150"
              style="stroke:rgb(0, 0, 0);stroke-width:2"
            />
          </svg>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="3">
          <svg>
            <line
              x1="100"
              y1="30"
              x2="0"
              y2="150"
              style="stroke:red;stroke-width:2"
            />
            <text x="130" y="15" fill="black">{{ totalillr }}</text>
            <line
              x1="200"
              y1="30"
              x2="300"
              y2="150"
              style="stroke:blue;stroke-width:2"
            />
          </svg>
        </ion-col>
        <ion-col pull="1.5">
          <svg>
            <line
              x1="100"
              y1="30"
              x2="0"
              y2="150"
              style="stroke:orange;stroke-width:2"
            />
            <text x="130" y="15" fill="black">{{ totalwellr }}</text>
            <line
              x1="200"
              y1="30"
              x2="300"
              y2="150"
              style="stroke:green;stroke-width:2"
            />
          </svg>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col push="1.75">
          <svg>
            <text x="130" y="15" fill="red">{{ trueposr }}</text>
          </svg>
        </ion-col>
        <ion-col push="1.25">
          <svg>
            <text x="130" y="15" fill="blue">{{ falsenegr }}</text>
          </svg>
        </ion-col>
        <ion-col pull="1.25">
          <svg>
            <text x="130" y="15" fill="orange">{{ falseposr }}</text>
          </svg>
        </ion-col>
        <ion-col pull="1.75">
          <svg>
            <text x="130" y="15" fill="green">{{ truenegr }}</text>
          </svg>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >PPV: <span class="spanr">{{ trueposr }}</span>/{{ totaltestposr }}
            = {{ ppvr }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposr }}</span>/{{
            totalillr }} = {{ sensitivity }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >NPV: <span class="spang">{{ truenegr }}</span>/{{ totaltestnegr }}
            = {{ npvr }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegr }}</span>/{{ totalwellr
            }} = {{ specifity }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FNR: <span class="spanb">{{ falsenegr }}</span>/{{ totaltestnegr }}
            = {{ fnrr }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: {{ totalillr }}/{{ totalr }} = {{ prevalence
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FPR: <span class="spano">{{ falseposr }}</span>/{{ totaltestposr }}
            = {{ fprr }}%</ion-label
          >
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedInput === 'range' && selectedVis === 'icon'">
      <ion-row>
        <ion-col>
          <div class="container">
            <div>
              <img
                class="icon"
                *ngFor="let img of rediconr"
                src="{{ rediconr[0] }}"
              />

              <img
                class="icon"
                *ngFor="let img of blueiconr"
                src="{{ blueiconr[0] }}"
              />
            </div>
            <div>
              <img
                class="icon"
                *ngFor="let img of yellowiconr"
                src="{{ yellowiconr[0] }}"
              /><img
                class="icon"
                *ngFor="let img of greeniconr"
                src="{{ greeniconr[0] }}"
              />
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            <span class="spanr">Rot = Richtigpositiv = {{ trueposr }}</span>,
            <span class="spanb">Blau = Falschnegativ = {{ falsenegr }}</span>,
            <span class="spano">Orange = Falschpositiv = {{ falseposr }}</span>,
            <span class="spang">Grün = Richtignegativ = {{ truenegr }}</span>,
            Total = {{ totalr }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >PPV: <span class="spanr">{{ trueposr }}</span>/{{ totaltestposr }}
            = {{ ppvr }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposr }}</span>/{{
            totalillr }} = {{ sensitivity }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >NPV: <span class="spang">{{ truenegr }}</span>/{{ totaltestnegr }}
            = {{ npvr }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegr }}</span>/{{ totalwellr
            }} = {{ specifity }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FNR: <span class="spanb">{{ falsenegr }}</span>/{{ totaltestnegr }}
            = {{ fnrr }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: {{ totalillr }}/{{ totalr }} = {{ prevalence
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FPR: <span class="spano">{{ falseposr }}</span>/{{ totaltestposr }}
            = {{ fprr }}%</ion-label
          >
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedInput === 'number' && selectedVis === 'icon'">
      <ion-row>
        <ion-col>
          <div class="container">
            <div>
              <img
                class="icon"
                *ngFor="let img of rediconn"
                src="{{ rediconn[0] }}"
              />

              <img
                class="icon"
                *ngFor="let img of blueiconn"
                src="{{ blueiconn[0] }}"
              />
            </div>
            <div>
              <img
                class="icon"
                *ngFor="let img of yellowiconn"
                src="{{ yellowiconn[0] }}"
              /><img
                class="icon"
                *ngFor="let img of greeniconn"
                src="{{ greeniconn[0] }}"
              />
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            <span class="spanr">Rot = Richtigpositiv = {{ trueposn }}</span>,
            <span class="spanb">Blau = Falschnegativ = {{ falsenegn }}</span>,
            <span class="spano">Orange = Falschpositiv = {{ falseposn }} </span
            >,
            <span class="spang">Grün = Richtignegativ = {{ truenegn }}</span>,
            Total = {{ totaln }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >PPV: <span class="spanr">{{ trueposn }}</span>/{{ totaltestposn }}
            = {{ ppvn }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposn }}</span>/{{
            totalilln }} = {{ sensn }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >NPV: <span class="spang">{{ truenegn }}</span>/{{ totaltestnegn }}
            = {{ npvn }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegn }}</span>/{{ totalwelln
            }} {{ specn }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FNR: <span class="spanb">{{ falsenegn }}</span>/{{ totaltestnegn }}
            = {{ fnrn }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: {{ totalilln }}/{{ totaln }} = {{ prevn }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FPR: <span class="spano">{{ falseposn }}</span>/{{ totaltestposn }}
            = {{ fprn }}%</ion-label
          >
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedInput === 'range' && selectedVis === 'unitsquare'">
      <ion-row>
        <ion-col>
          <svg height="500" width="500">
            <rect
              [attr.width.px]="250"
              [attr.height.px]="trueposr"
              style="fill: red;"
            ></rect>
            <rect
              [attr.width.px]="250"
              [attr.height.px]="falseposr"
              [attr.x.px]="250"
              style="fill: orange;"
            ></rect>

            <rect
              [attr.width]="250"
              [attr.height]="falsenegr"
              [attr.y.px]="trueposr"
              style="fill: blue;"
            ></rect>

            <rect
              [attr.width]="250"
              [attr.height]="truenegr"
              [attr.y.px]="falseposr"
              [attr.x.px]="250"
              style="fill: green;"
            ></rect>
          </svg>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            <span class="spanr">Rot = Richtigpositiv = {{ trueposr }}</span>,
            <span class="spanb">Blau = Falschnegativ = {{ falsenegr }}</span>,
            <span class="spano">Orange = Falschpositiv = {{ falseposr }}</span>,
            <span class="spang">Grün = Richtignegativ = {{ truenegr }}</span>,
            Total = {{ totalr }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >PPV: <span class="spanr">{{ trueposr }}</span>/{{ totaltestposr }}
            = {{ ppvr }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposr }}</span>/{{
            totalillr }} = {{ sensitivity }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >NPV: <span class="spang">{{ truenegr }}</span>/{{ totaltestnegr }}
            = {{ npvr }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegr }}</span>/{{ totalwellr
            }} = {{ specifity }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FNR: <span class="spanb">{{ falsenegr }}</span>/{{ totaltestnegr }}
            = {{ fnrr }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: {{ totalillr }}/{{ totalr }} = {{ prevalence
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FPR: <span class="spano">{{ falseposr }}</span>/{{ totaltestposr }}
            = {{ fprr }}%</ion-label
          >
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedInput === 'number' && selectedVis === 'unitsquare'">
      <ion-row>
        <ion-col>
          <svg height="1000" width="1000">
            <rect
              [attr.width.px]="500"
              [attr.height.px]="trueposn"
              style="fill: red;"
            ></rect>
            <rect
              [attr.width.px]="500"
              [attr.height.px]="falseposn"
              [attr.x.px]="500"
              style="fill: orange;"
            ></rect>

            <rect
              [attr.width]="500"
              [attr.height]="falsenegn"
              [attr.y.px]="trueposn"
              style="fill: blue;"
            ></rect>

            <rect
              [attr.width]="500"
              [attr.height]="truenegn"
              [attr.y.px]="falseposn"
              [attr.x.px]="500"
              style="fill: green;"
            ></rect>
          </svg>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            <span class="spanr">Rot = Richtigpositiv = {{ trueposn }}</span>,
            <span class="spanb">Blau = Falschnegativ = {{ falsenegn }}</span>,
            <span class="spano">Orange = Falschpositiv = {{ falseposn }} </span
            >,
            <span class="spang">Grün = Richtignegativ = {{ truenegn }}</span>,
            Total = {{ totaln }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >PPV: <span class="spanr">{{ trueposn }}</span>/{{ totaltestposn }}
            = {{ ppvn }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposn }}</span>/{{
            totalilln }} = {{ sensn }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >NPV: <span class="spang">{{truenegn }}</span>/{{ totaltestnegn }} =
            {{ npvn }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{truenegn }}</span>/{{ totalwelln
            }} {{ specn }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FNR: <span class="spanb">{{ falsenegn }}</span>/{{ totaltestnegn }}
            = {{ fnrn }}%</ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: {{ totalilln }}/{{ totaln }} = {{ prevn }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >FPR: <span class="spano">{{ falseposn}}</span>/{{ totaltestposn }}
            = {{ fprn }}%</ion-label
          >
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
