<ion-header>
  <ion-toolbar>
    <ion-title>Riskestimator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <!-- <ion-buttons>
      <ion-back-button
        defaultHref=""
        icon="arrow-back"
        color="primary"
      ></ion-back-button>
    </ion-buttons> -->

    <ion-row>
      <ion-col size="1">
        <ion-button class="oben" disabled> Eingabe </ion-button>
      </ion-col>
      <ion-col>
        <ion-segment (ionChange)="onInputChange($event)">
          <ion-item lines="none">
            <ion-label>
              <ion-segment-button value="range" checked class="oben"
                >Relative Häufigkeiten
              </ion-segment-button>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <ion-segment-button value="number" class="oben"
                >Absolute Häufigkeiten</ion-segment-button
              >
            </ion-label>
          </ion-item>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1">
        <ion-button class="unten" disabled> Ausgabe </ion-button>
      </ion-col>
      <ion-col>
        <ion-segment (ionChange)="onVisChange($event)">
          <ion-row>
            <ion-item lines="none">
              <ion-segment-button value="table" checked class="unten"
                >4-Felder-Tafel</ion-segment-button
              >
            </ion-item>

            <ion-item lines="none">
              <ion-segment-button value="tree" class="unten"
                >Baumdiagramm</ion-segment-button
              >
            </ion-item>

            <ion-item lines="none">
              <ion-segment-button value="unitsquare" class="unten"
                >Balkendiagramm</ion-segment-button
              >
            </ion-item>
            <ion-item lines="none">
              <ion-segment-button value="icon" class="unten"
                >Icon Array</ion-segment-button
              >
            </ion-item>
          </ion-row>
        </ion-segment>
      </ion-col>
    </ion-row>

    <div *ngIf="selectedInput === 'number'">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Krank & Testpositive Personen</ion-label
            >
            <ion-input
              type="number"
              min="0"
              max="500"
              [(ngModel)]="trueposn"
              (ionChange)="trueposchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Krank & Testnegative Personen</ion-label
            >
            <ion-input
              type="number"
              min="0"
              max="500"
              [(ngModel)]="falsenegn"
              (ionChange)="falsenegchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Gesund & Testpositive Personen</ion-label
            >
            <ion-input
              type="number"
              min="0"
              max="500"
              [(ngModel)]="falseposn"
              (ionChange)="falseposchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Gesund & Testnegative Personen</ion-label
            >
            <ion-input
              type="number"
              min="0"
              max="500"
              [(ngModel)]="truenegn"
              (ionChange)="truenegchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedVis === 'table' && selectedInput === 'number'">
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-label>Krank</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-label>Gesund</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-label>Total</ion-label>
          </ion-item></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Test positiv</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="truepos">{{ trueposn }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="falsepos">{{ falseposn }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totaltestposn }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Test negativ</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="falseneg">{{ falsenegn }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="trueneg">{{ truenegn }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totaltestnegn }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalilln }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalwelln }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totaln }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >Positiver prädiktiver Wert:
            <span class="spanr">{{ trueposn }} </span><b>/ (</b
            ><span class="spanr">{{ trueposn }}</span> +
            <span class="spanb">{{ falseposn }}</span
            ><b>) = {{ ppvn }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposn }} </span><b>/ (</b
            ><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }}</span
            ><b>) = {{ sensn }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Negativer prädiktiver Wert:
            <span class="spang">{{ truenegn }} </span><b>/ (</b
            ><span class="spang">{{ truenegn }}</span> +
            <span class="spano">{{ falsenegn }}</span
            ><b>) = {{ npvn }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegn }} </span><b>/ (</b
            ><span class="spang"
              >{{ truenegn }} + <span class="spanb">{{ falseposn }}</span></span
            ><b>) = {{ specn }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-negative-Rate: <span class="spano">{{ falsenegn }} </span
            ><b>/ (</b><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }}</span
            ><b>) = {{ fnrn }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: <b>(</b><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }} </span> <b>) / (</b
            ><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }} </span> + <b></b
            ><span class="spang">{{ truenegn }}</span> +
            <span class="spanb">{{ falseposn }}</span
            ><b>) = {{ prevn }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-positive-Rate: <span class="spanb">{{ falseposn }} </span>
            <b>/ (</b> <span class="spang">{{ truenegn }}</span> +
            <span class="spanb">{{ falseposn }}</span> <b>) = {{ fprn }}%</b>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedInput === 'range'">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Prävalenz in %</ion-label>
            <ion-input
              type="number"
              min="0"
              max="100"
              [(ngModel)]="prevalence"
              (ionChange)="prevalencechange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="prevalence"
              max="100"
              min="0"
              step="1"
              pin="true"
              class="range"
            ></ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Sensitivität in %</ion-label>
            <ion-input
              type="number"
              min="0"
              max="100"
              [(ngModel)]="sensitivity"
              (ionChange)="sensitivitychange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="sensitivity"
              max="100"
              min="0"
              step="1"
              pin="true"
              class="range"
            ></ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Spezifität in %</ion-label>
            <ion-input
              type="number"
              min="0"
              max="100"
              [(ngModel)]="specifity"
              (ionChange)="specifitychange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="specifity"
              max="100"
              min="0"
              step="1"
              pin="true"
              class="range"
            ></ion-range>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedInput === 'range' && selectedVis === 'table'">
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-label>Krank</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-label>Gesund</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-label>Total</ion-label>
          </ion-item></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Test positiv</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="truepos">{{ trueposr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="falsepos">{{ falseposr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totaltestposr }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Test negativ</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="falseneg">{{ falsenegr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="trueneg">{{ truenegr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totaltestnegr }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalillr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalwellr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalr }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >Positiver prädiktiver Wert:
            <span class="spanr">{{ trueposr }} </span><b>/ (</b
            ><span class="spanr">{{ trueposr }}</span> +
            <span class="spanb">{{ falseposr }}</span
            ><b>) = {{ ppvr }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposr }} </span><b>/ (</b
            ><span class="spanr">{{ trueposr }}</span> +
            <span class="spano">{{ falsenegr }}</span
            ><b>) = {{ sensr }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Negativer prädiktiver Wert:
            <span class="spang">{{ truenegr }} </span><b>/ (</b
            ><span class="spang">{{ truenegr }}</span> +
            <span class="spano">{{ falsenegr}}</span
            ><b>) = {{ npvr }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegr }} </span><b>/ (</b
            ><span class="spang"
              >{{ truenegr }} + <span class="spanb">{{ falseposr }}</span></span
            ><b>) = {{ specr }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-negative-Rate: <span class="spano">{{ falsenegr }} </span
            ><b>/ (</b><span class="spanr">{{ trueposr}}</span> +
            <span class="spano">{{ falsenegr }}</span
            ><b>) = {{ fnrr }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: <b>(</b><span class="spanr">{{ trueposr }}</span> +
            <span class="spano">{{ falsenegr }} </span> <b>) / (</b
            ><span class="spanr">{{ trueposr }}</span> +
            <span class="spano">{{ falsenegr }} </span> + <b></b
            ><span class="spang">{{ truenegr }}</span> +
            <span class="spanb">{{ falseposr }}</span
            ><b>) = {{ prevr }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-positive-Rate: <span class="spanb">{{ falseposr }} </span>
            <b>/ (</b> <span class="spang">{{ truenegr }}</span> +
            <span class="spanb">{{ falseposr }}</span> <b>) = {{ fprr }}%</b>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedVis === 'tree' && selectedInput === 'number'">
      <ion-row>
        <ion-col>
          <svg width="100%" height="300" viewBox="0 0 550 300">
            <text x="250" y="15" fill="black">{{ totaln }}</text>
            <line
              x1="260"
              y1="30"
              x2="125"
              y2="130"
              style="stroke: rgb(0, 0, 0); stroke-width: 2"
            />
            <line
              x1="260"
              y1="30"
              x2="395"
              y2="130"
              style="stroke: rgb(0, 0, 0); stroke-width: 2"
            />
            <text x="115" y="150" fill="black">{{ totalilln }}</text>
            <text x="390" y="150" fill="black">{{ totalwelln }}</text>
            <line
              x1="115"
              y1="165"
              x2="15"
              y2="265"
              style="stroke: red; stroke-width: 2"
            />

            <line
              x1="115"
              y1="165"
              x2="215"
              y2="265"
              style="stroke: orange; stroke-width: 2"
            />
            <line
              x1="410"
              y1="165"
              x2="310"
              y2="265"
              style="stroke: blue; stroke-width: 2"
            />

            <line
              x1="410"
              y1="165"
              x2="510"
              y2="265"
              style="stroke: green; stroke-width: 2"
            />
            <text x="5" y="290" fill="red">{{ trueposn }}</text>
            <text x="215" y="290" fill="orange">{{ falsenegn }}</text>
            <text x="300" y="290" fill="blue">{{ falseposn}}</text>
            <text x="510" y="290" fill="green">{{ truenegn }}</text>
          </svg>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            <span class="spanr">Rot = Richtigpositiv = {{ trueposn }}</span>,
            <span class="spano">Orange = Falschnegativ = {{ falsenegn }}</span>,
            <span class="spanb">Blau = Falschpositiv = {{ falseposn }} </span>,
            <span class="spang">Grün = Richtignegativ = {{ truenegn }}</span>,
            Total = {{ totaln }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >Positiver prädiktiver Wert:
            <span class="spanr">{{ trueposn }} </span><b>/ (</b
            ><span class="spanr">{{ trueposn }}</span> +
            <span class="spanb">{{ falseposn }}</span
            ><b>) = {{ ppvn }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposn }} </span><b>/ (</b
            ><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }}</span
            ><b>) = {{ sensn }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Negativer prädiktiver Wert:
            <span class="spang">{{ truenegn }} </span><b>/ (</b
            ><span class="spang">{{ truenegn }}</span> +
            <span class="spano">{{ falsenegn }}</span
            ><b>) = {{ npvn }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegn }} </span><b>/ (</b
            ><span class="spang"
              >{{ truenegn }} + <span class="spanb">{{ falseposn }}</span></span
            ><b>) = {{ specn }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-negative-Rate: <span class="spano">{{ falsenegn }} </span
            ><b>/ (</b><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }}</span
            ><b>) = {{ fnrn }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: <b>(</b><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }} </span> <b>) / (</b
            ><span class="spang">{{ truenegn }}</span> +
            <span class="spanb">{{ falseposn }}</span
            ><b>) = {{ prevn }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-positive-Rate: <span class="spanb">{{ falseposn }} </span>
            <b>/ (</b> <span class="spang">{{ truenegn }}</span> +
            <span class="spanb">{{ falseposn }}</span> <b>) = {{ fprn }}%</b>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedVis === 'tree' && selectedInput === 'range'">
      <ion-row>
        <ion-col>
          <svg width="100%" height="300" viewBox="0 0 550 300">
            <text x="250" y="15" fill="black">{{ totalr }}</text>
            <line
              x1="260"
              y1="30"
              x2="125"
              y2="130"
              style="stroke: rgb(0, 0, 0); stroke-width: 2"
            />
            <line
              x1="260"
              y1="30"
              x2="395"
              y2="130"
              style="stroke: rgb(0, 0, 0); stroke-width: 2"
            />
            <text x="115" y="150" fill="black">{{ totalillr }}</text>
            <text x="390" y="150" fill="black">{{ totalwellr }}</text>
            <line
              x1="115"
              y1="165"
              x2="15"
              y2="265"
              style="stroke: red; stroke-width: 2"
            />

            <line
              x1="115"
              y1="165"
              x2="215"
              y2="265"
              style="stroke: orange; stroke-width: 2"
            />
            <line
              x1="410"
              y1="165"
              x2="310"
              y2="265"
              style="stroke: blue; stroke-width: 2"
            />

            <line
              x1="410"
              y1="165"
              x2="510"
              y2="265"
              style="stroke: green; stroke-width: 2"
            />
            <text x="5" y="290" fill="red">{{ trueposr}}</text>
            <text x="215" y="290" fill="orange">{{ falsenegr }}</text>
            <text x="300" y="290" fill="blue">{{ falseposr}}</text>
            <text x="510" y="290" fill="green">{{ truenegr }}</text>
          </svg>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            <span class="spanr">Rot = Richtigpositiv = {{ trueposr }}</span>,
            <span class="spano">Orange = Falschnegativ = {{ falsenegr }}</span>,
            <span class="spanb">Blau = Falschpositiv = {{ falseposr }} </span>,
            <span class="spang">Grün = Richtignegativ = {{ truenegr }}</span>,
            Total = {{ totaln }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >Positiver prädiktiver Wert:
            <span class="spanr">{{ trueposr }} </span><b>/ (</b
            ><span class="spanr">{{ trueposr }}</span> +
            <span class="spanb">{{ falseposr }}</span
            ><b>) = {{ ppvr }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposr }} </span><b>/ (</b
            ><span class="spanr">{{ trueposr }}</span> +
            <span class="spano">{{ falsenegr }}</span
            ><b>) = {{ sensitivity }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Negativer prädiktiver Wert:
            <span class="spang">{{ truenegr }} </span><b>/ (</b
            ><span class="spang">{{ truenegr }}</span> +
            <span class="spano">{{ falsenegr}}</span
            ><b>) = {{ npvr }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegr }} </span><b>/ (</b
            ><span class="spang"
              >{{ truenegr }} + <span class="spanb">{{ falseposr }}</span></span
            ><b>) = {{ specifity }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-negative-Rate: <span class="spano">{{ falsenegr }} </span
            ><b>/ (</b><span class="spanr">{{ trueposr}}</span> +
            <span class="spano">{{ falsenegr }}</span
            ><b>) = {{ fnrr }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: <b>(</b><span class="spanr">{{ trueposr }}</span> +
            <span class="spano">{{ falsenegr }} </span><b>) / (</b
            ><span class="spang">{{ truenegr }}</span> +
            <span class="spanb">{{ falseposr }}</span
            ><b>) = {{ prevalence }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-positive-Rate: <span class="spanb">{{ falseposr }} </span>
            <b>/ (</b> <span class="spang">{{ truenegr }}</span> +
            <span class="spanb">{{ falseposr }}</span> <b>) = {{ fprr }}%</b>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedInput === 'range' && selectedVis === 'icon'">
      <ion-row>
        <ion-col>
          <div class="container">
            <div>
              <img
                class="icon"
                *ngFor="let img of rediconr"
                src="{{ rediconr[0] }}"
              />
              <img
                class="icon"
                *ngFor="let img of yellowiconr"
                src="{{ yellowiconr[0] }}"
              />
            </div>
            <div>
              <img
                class="icon"
                *ngFor="let img of blueiconr"
                src="{{ blueiconr[0] }}"
              />
              <img
                class="icon"
                *ngFor="let img of greeniconr"
                src="{{ greeniconr[0] }}"
              />
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            <span class="spanr">Rot = Richtigpositiv = {{ trueposr }}</span>,
            <span class="spano">Orange = Falschnegativ = {{ falsenegr }}</span>,
            <span class="spanb">Blau = Falschpositiv = {{ falseposr }}</span>,
            <span class="spang">Grün = Richtignegativ = {{ truenegr }}</span>,
            Total = {{ totalr }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >Positiver prädiktiver Wert:
            <span class="spanr">{{ trueposr }} </span><b>/ (</b
            ><span class="spanr">{{ trueposr }}</span> +
            <span class="spanb">{{ falseposr }}</span
            ><b>) = {{ ppvr }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposr }} </span><b>/ (</b
            ><span class="spanr">{{ trueposr }}</span> +
            <span class="spano">{{ falsenegr }}</span
            ><b>) = {{ sensitivity }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Negativer prädiktiver Wert:
            <span class="spang">{{ truenegr }} </span><b>/ (</b
            ><span class="spang">{{ truenegr }}</span> +
            <span class="spano">{{ falsenegr}}</span
            ><b>) = {{ npvr }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegr }} </span><b>/ (</b
            ><span class="spang"
              >{{ truenegr }} + <span class="spanb">{{ falseposr }}</span></span
            ><b>) = {{ specifity }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-negative-Rate: <span class="spano">{{ falsenegr }} </span
            ><b>/ (</b><span class="spanr">{{ trueposr}}</span> +
            <span class="spano">{{ falsenegr }}</span
            ><b>) = {{ fnrr }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: <b>(</b><span class="spanr">{{ trueposr }}</span> +
            <span class="spano">{{ falsenegr }} </span><b>) / (</b
            ><span class="spang">{{ truenegr }}</span> +
            <span class="spanb">{{ falseposr }}</span
            ><b>) = {{ prevalence }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-positive-Rate: <span class="spanb">{{ falseposr }} </span>
            <b>/ (</b> <span class="spang">{{ truenegr }}</span> +
            <span class="spanb">{{ falseposr }}</span> <b>) = {{ fprr }}%</b>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedInput === 'number' && selectedVis === 'icon'">
      <ion-row>
        <ion-col>
          <div class="container">
            <div>
              <img
                class="icon"
                *ngFor="let img of rediconn"
                src="{{ rediconn[0] }}"
              />
              <img
                class="icon"
                *ngFor="let img of yellowiconn"
                src="{{ yellowiconn[0] }}"
              />
            </div>
            <div>
              <img
                class="icon"
                *ngFor="let img of blueiconn"
                src="{{ blueiconn[0] }}"
              />
              <img
                class="icon"
                *ngFor="let img of greeniconn"
                src="{{ greeniconn[0] }}"
              />
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            <span class="spanr">Rot = Richtigpositiv = {{ trueposn }}</span>,
            <span class="spano">Orange = Falschnegativ = {{ falsenegn }}</span>,
            <span class="spanb">Blau = Falschpositiv = {{ falseposn }} </span>,
            <span class="spang">Grün = Richtignegativ = {{ truenegn }}</span>,
            Total = {{ totaln }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >Positiver prädiktiver Wert:
            <span class="spanr">{{ trueposn }} </span><b>/ (</b
            ><span class="spanr">{{ trueposn }}</span> +
            <span class="spanb">{{ falseposn }}</span
            ><b>) = {{ ppvn }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposn }} </span><b>/ (</b
            ><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }}</span
            ><b>) = {{ sensn }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Negativer prädiktiver Wert:
            <span class="spang">{{ truenegn }} </span><b>/ (</b
            ><span class="spang">{{ truenegn }}</span> +
            <span class="spano">{{ falsenegn }}</span
            ><b>) = {{ npvn }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegn }} </span><b>/ (</b
            ><span class="spang"
              >{{ truenegn }} + <span class="spanb">{{ falseposn }}</span></span
            ><b>) = {{ specn }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-negative-Rate: <span class="spano">{{ falsenegn }} </span
            ><b>/ (</b><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }}</span
            ><b>) = {{ fnrn }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: <b>(</b><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }} </span> <b>) / (</b
            ><span class="spang">{{ truenegn }}</span> +
            <span class="spanb">{{ falseposn }}</span
            ><b>) = {{ prevn }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-positive-Rate: <span class="spanb">{{ falseposn }} </span>
            <b>/ (</b> <span class="spang">{{ truenegn }}</span> +
            <span class="spanb">{{ falseposn }}</span> <b>) = {{ fprn }}%</b>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedInput === 'range' && selectedVis === 'unitsquare'">
      <ion-row>
        <ion-col>
          <svg width="100%" height="300" viewBox="0 0 700 300">
            <rect
              [attr.width]="350"
              [attr.height]="trueposr/2"
              style="fill: red"
            ></rect>

            <rect
              [attr.width]="350"
              [attr.height]="falsenegr/2"
              [attr.y]="trueposr/2"
              style="fill: orange"
            ></rect>

            <rect
              [attr.width]="350"
              [attr.height]="falseposr/2"
              x="350"
              [attr.y]="truenegr/2"
              style="fill: blue"
            ></rect>

            <rect
              [attr.width]="350"
              [attr.height]="truenegr/2"
              y="falseposr/2"
              x="350"
              style="fill: green"
            ></rect>
          </svg>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            <span class="spanr">Rot = Richtigpositiv = {{ trueposr }}</span>,
            <span class="spano">Orange = Falschnegativ = {{ falsenegr }}</span>,
            <span class="spanb">Blau = Falschpositiv = {{ falseposr }}</span>,
            <span class="spang">Grün = Richtignegativ = {{ truenegr }}</span>,
            Total = {{ totalr }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >Positiver prädiktiver Wert:
            <span class="spanr">{{ trueposr }} </span><b>/ (</b
            ><span class="spanr">{{ trueposr }}</span> +
            <span class="spanb">{{ falseposr }}</span
            ><b>) = {{ ppvr }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposr }} </span><b>/ (</b
            ><span class="spanr">{{ trueposr }}</span> +
            <span class="spano">{{ falsenegr }}</span
            ><b>) = {{ sensitivity }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Negativer prädiktiver Wert:
            <span class="spang">{{ truenegr }} </span><b>/ (</b
            ><span class="spang">{{ truenegr }}</span> +
            <span class="spano">{{ falsenegr}}</span
            ><b>) = {{ npvr }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegr }} </span><b>/ (</b
            ><span class="spang"
              >{{ truenegr }} + <span class="spanb">{{ falseposr }}</span></span
            ><b>) = {{ specifity }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-negative-Rate: <span class="spano">{{ falsenegr }} </span
            ><b>/ (</b><span class="spanr">{{ trueposr}}</span> +
            <span class="spano">{{ falsenegr }}</span
            ><b>) = {{ fnrr }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: <b>(</b><span class="spanr">{{ trueposr }}</span> +
            <span class="spano">{{ falsenegr }} </span><b>) / (</b
            ><span class="spang">{{ truenegr }}</span> +
            <span class="spanb">{{ falseposr }}</span
            ><b>) = {{ prevalence }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-positive-Rate: <span class="spanb">{{ falseposr }} </span>
            <b>/ (</b> <span class="spang">{{ truenegr }}</span> +
            <span class="spanb">{{ falseposr }}</span> <b>) = {{ fprr }}%</b>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selectedInput === 'number' && selectedVis === 'unitsquare'">
      <ion-row>
        <ion-col>
          <svg width="100%" height="300" viewBox="0 0 700 300">
            <rect
              [attr.width]="350"
              [attr.height]="trueposn/2"
              style="fill: red"
            ></rect>

            <rect
              [attr.width]="350"
              [attr.height]="falsenegn/2"
              [attr.y]="trueposn/2"
              style="fill: orange"
            ></rect>

            <rect
              [attr.width]="350"
              [attr.height]="falseposn/2"
              x="350"
              [attr.y]="truenegn/2"
              style="fill: blue"
            ></rect>

            <rect
              [attr.width]="350"
              [attr.height]="truenegn/2"
              y="falseposn/2"
              x="350"
              style="fill: green"
            ></rect>
          </svg>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            <span class="spanr">Rot = Richtigpositiv = {{ trueposn }}</span>,
            <span class="spano">Orange = Falschnegativ = {{ falsenegn }}</span>,
            <span class="spanb">Blau = Falschpositiv = {{ falseposn }} </span>,
            <span class="spang">Grün = Richtignegativ = {{ truenegn }}</span>,
            Total = {{ totaln }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >Positiver prädiktiver Wert:
            <span class="spanr">{{ trueposn }} </span><b>/ (</b
            ><span class="spanr">{{ trueposn }}</span> +
            <span class="spanb">{{ falseposn }}</span
            ><b>) = {{ ppvn }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Sensitivität: <span class="spanr">{{ trueposn }} </span><b>/ (</b
            ><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }}</span
            ><b>) = {{ sensn }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Negativer prädiktiver Wert:
            <span class="spang">{{ truenegn }} </span><b>/ (</b
            ><span class="spang">{{ truenegn }}</span> +
            <span class="spano">{{ falsenegn }}</span
            ><b>) = {{ npvn }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Spezifität: <span class="spang">{{ truenegn }} </span><b>/ (</b
            ><span class="spang"
              >{{ truenegn }} + <span class="spanb">{{ falseposn }}</span></span
            ><b>) = {{ specn }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-negative-Rate: <span class="spano">{{ falsenegn }} </span
            ><b>/ (</b><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }}</span
            ><b>) = {{ fnrn }}%</b></ion-label
          >
        </ion-col>
        <ion-col>
          <ion-label
            >Prävalenz: <b>(</b><span class="spanr">{{ trueposn }}</span> +
            <span class="spano">{{ falsenegn }} </span> <b>) / (</b
            ><span class="spang">{{ truenegn }}</span> +
            <span class="spanb">{{ falseposn }}</span
            ><b>) = {{ prevn }}%</b></ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >Falsch-positive-Rate: <span class="spanb">{{ falseposn }} </span>
            <b>/ (</b> <span class="spang">{{ truenegn }}</span> +
            <span class="spanb">{{ falseposn }}</span> <b>) = {{ fprn }}%</b>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
