.unten {
  --background: darkgrey;
  --color: white;
  --background-checked: grey;
  --background-hover: grey;
  --color-checked: white;
}

.oben {
  --background: #404040;
  --color: white;
  --background-checked: black;
  --background-hover: black;

  --color-checked: white;
}

.range {
  --bar-background: black;
  --bar-background-active: black;
  --knob-background: black;
  --pin-background: black;
  --pin-color: white;
}

.truepos {
  color: white;
  background-color: red;
}
.falsepos {
  color: white;
  background-color: navy;
}
.falseneg {
  color: white;
  background-color: orange;
}
.trueneg {
  color: white;
  background-color: #009900;
}

.spanr {
  color: red;
}

.spanb {
  color: navy;
}
.spano {
  color: orange;
}
.spang {
  color: #009900;
}

.container {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

img.icon {
  width: 20px;
  height: 30px;
  max-height: 50vw;
}

.hr1 {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}