.unten {
  --background: darkgrey;
  --color: white;
  --background-checked: grey;
  --background-hover: grey;
  
  --color-checked: white;
}

.oben {
  --background: #404040;
  --color: white;
  --background-checked: black;
  --background-hover: black;
  
  --color-checked: white;

}

.range {
  --bar-background: black;
  --bar-background-active: black;
  --knob-background: black;
  --pin-background: black;
  --pin-color: white;
}

.truepos {
  color: white;
  background-color: navy;
}
.falsepos {
  color: white;
  background-color: red;
}
.falseneg {
  color: white;
  background-color: orange;
}
.trueneg {
  color: white;
  background-color: #009900;
}

.spanr {
  color: navy;
}

.spanb {
  color: red;
}
.spano {
  color: orange;
}
.spang {
  color: #009900;
}

.container {
  max-width: 1500px;
  display: grid;
  grid-template-columns: auto auto;
}

img.icon {
  width: 20px;
  height: 30px;
}
