.truepos {
  color: white;
  background-color: red;
}
.falsepos {
  color: white;
  background-color: orange;
}
.falseneg {
  color: white;
  background-color: blue;
}
.trueneg {
  color: white;
  background-color: green;
}

.spanr {
  color: red;
}

.spanb {
  color: blue;
}
.spano {
  color: orange;
}
.spang {
  color: green;
}