<ion-header>
  <ion-toolbar>
    <ion-title>Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-buttons>
      <ion-back-button
        defaultHref=""
        icon="arrow-back"
        color="primary"
      ></ion-back-button>
    </ion-buttons>

    <div *ngIf="tasknumber === 1">
      <ion-button (click)="getBackTask()">Zurück</ion-button>
      <ion-button (click)="getNextTask()">Weiter</ion-button>
      <ion-row>
        <ion-col>
          <p><b>Aufgabe 1 mit NumberTable</b></p>
          <p>
            Sie haben einen Patienten vor sich bei dem Sie aufgrund seiner
            Symptome eine Lungenembolie vermuten. Um ihren Verdacht zu erhärten
            machen sie einen D-Dimer Test. Sie wissen, dass 10 von 500 Personen
            mit den Symptomen ihres Patienten eine Lungenembolie haben. Ihr
            D-Dimer Test hat bei allen 10 Erkrankten ein positives Testergebnis.
            Allerdings haben auch 181 von 490 nicht-Erkrankten ein positives
            Testergebnis. Wie hoch ist die Wahrscheinlichkeit, dass ihr Patient
            mit einem positiven Testergebnis auch tatsächlich eine Lungenembolie
            hat? Wählen sie <b>eine</b> Antwortmöglichkeit aus!
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Krank & Testpositive Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="trueposn"
              (ionChange)="trueposchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Gesund & Testpositive Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="falseposn"
              (ionChange)="falseposchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Krank & Testnegative Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="falsenegn"
              (ionChange)="falsenegchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Gesund & Testnegative Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="truenegn"
              (ionChange)="truenegchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          Diagnose positiv
        </ion-col>
        <ion-col>
          Diagnose negativ
        </ion-col>
        <ion-col>
          Total
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Test positiv</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ trueposn }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ falseposn }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totaltestposn }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-item>
            <ion-label>Test negativ</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label>{{ falsenegn }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label>{{ truenegn }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label>{{ totaltestnegn }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalilln }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalwelln }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totaln }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            {{trueposn}}/{{totaltestposn}} = {{ trueposn/totaltestposn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{truenegn}}/{{totaltestnegn}} = {{ truenegn/totaltestnegn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{falsenegn}}/{{totaltestnegn}} = {{ falsenegn/totaltestnegn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{falseposn}}/{{totaltestposn}} = {{ falseposn/totaltestposn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-radio-group (ionChange)="Frage($event)">
            <ion-item>
              <ion-label>5</ion-label>
              <ion-radio value="5"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>100</ion-label>
              <ion-radio value="100"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>0</ion-label>
              <ion-radio value="0"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>95</ion-label>
              <ion-radio value="95"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>37</ion-label>
              <ion-radio value="37"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
    </div>

    <ion-button (click)="getBackTask()">Zurück</ion-button>
    <ion-button (click)="getNextTask()">Weiter</ion-button>

    <div *ngIf="tasknumber === 2">
      <ion-row>
        <ion-col>
          <p><b>Aufgabe 2 mit RangeTable</b></p>
          <p>
            Sie haben einen Patienten vor sich bei dem Sie aufgrund seiner
            Symptome eine Lungenembolie vermuten. Um ihren Verdacht zu erhärten
            machen sie einen D-Dimer Test. Sie wissen, dass 2% der Bevölkerung
            mit den Symptomen ihres Patienten eine Lungenembolie haben. Ihr
            D-Dimer Test hat bei Erkrankten zu 100% ein positives Testergebnis.
            Allerdings haben auch 37% aller nicht Erkrankten ein positives
            Testergebnis. Wie hoch ist die Wahrscheinlichkeit, dass ihr Patient
            mit einem positiven Testergebnis auch tatsächlich eine Lungenembolie
            hat? Wählen sie <b>eine</b> Antwortmöglichkeit aus!
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Prävalenz</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="prevalence"
              (ionChange)="prevalencechange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="prevalence"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Sensitivität</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="sensitivity"
              (ionChange)="sensitivitychange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="sensitivity"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Spezifität</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="specifity"
              (ionChange)="specifitychange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="specifity"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          Diagnose positiv
        </ion-col>
        <ion-col>
          Diagnose negativ
        </ion-col>
        <ion-col>
          Total
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Test positiv</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ trueposr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ falseposr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totaltestposr }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-item>
            <ion-label>Test negativ</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label>{{ falsenegr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label>{{ truenegr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label>{{ totaltestnegr }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalillr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalwellr }}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ totalr }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >{{trueposr}}/{{totaltestposr}} = {{ (trueposr / totaltestposr)*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >{{ truenegr }}/{{totaltestnegr}} = {{ (truenegr / totaltestnegr)
            *100 }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >{{falsenegr}}/{{totaltestnegr}} = {{ (falsenegr / totaltestnegr)
            *100 }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >{{falseposr}}/{{totaltestnegr}} = {{ (falseposr / totaltestposr)
            *100 }}%</ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-radio-group (ionChange)="Frage($event)">
            <ion-item>
              <ion-label>5</ion-label>
              <ion-radio value="5"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>100</ion-label>
              <ion-radio value="100"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>0</ion-label>
              <ion-radio value="0"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>95</ion-label>
              <ion-radio value="95"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>37</ion-label>
              <ion-radio value="37"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>

      <ion-button (click)="getBackTask()">Zurück</ion-button>
      <ion-button (click)="getNextTask()">Weiter</ion-button>
    </div>

    <div *ngIf="tasknumber === 3">
      <ion-row>
        <ion-col>
          <p><b>Aufgabe 3 mit NumberTree</b></p>
          <p>
            Sie haben einen Patienten untersuchen einen Patienten mit den
            typischen Zeichen einer Cystitis (Harnblasenentzündung). Um ihren
            Verdacht zu erhärten ordnen sie einen U-Stix Test an. Sie wissen,
            dass Patienten mit dieser Symptomatik zu 315 von 500 Personen eine
            Cystits haben. Ihr Test hat bei 265 von 315 erkrankten Patienten ein
            positives Testergebnis. Allerdings hat er auch bei 102 von 185
            nicht-Erkrankten ein positives Testergebnis. Wie hoch ist die
            Wahrscheinlichkeit, dass ihr Patiten bei einem positiven
            Testergebnis tatsächlich eine Cystists hat? Wählen Sie
            <b>eine</b> Antwort aus!
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Krank & Testpositive Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="trueposn"
              (ionChange)="trueposchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Gesund & Testpositive Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="falseposn"
              (ionChange)="falseposchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Krank & Testnegative Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="falsenegn"
              (ionChange)="falsenegchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Gesund & Testnegative Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="truenegn"
              (ionChange)="truenegchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offset="4.5">
          <svg>
            <line
              x1="100"
              y1="30"
              x2="0"
              y2="150"
              style="stroke:rgb(0, 0, 0);stroke-width:2"
            />
            <text x="130" y="15" fill="black">{{ totaln }}</text>
            <line
              x1="200"
              y1="30"
              x2="300"
              y2="150"
              style="stroke:rgb(0, 0, 0);stroke-width:2"
            />
          </svg>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="3">
          <svg>
            <line
              x1="100"
              y1="30"
              x2="0"
              y2="150"
              style="stroke:rgb(0,0,0);stroke-width:2"
            />
            <text x="130" y="15" fill="black">{{ totalilln }}</text>
            <line
              x1="200"
              y1="30"
              x2="300"
              y2="150"
              style="stroke:rgb(0,0,0);stroke-width:2"
            />
          </svg>
        </ion-col>
        <ion-col pull="1.5">
          <svg>
            <line
              x1="100"
              y1="30"
              x2="0"
              y2="150"
              style="stroke:rgb(0,0,0);stroke-width:2"
            />
            <text x="130" y="15" fill="black">{{ totalwelln }}</text>
            <line
              x1="200"
              y1="30"
              x2="300"
              y2="150"
              style="stroke:rgb(0, 0, 0);stroke-width:2"
            />
          </svg>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col push="1.75">
          <svg>
            <text x="130" y="15" fill="black">{{ trueposn }}</text>
          </svg>
        </ion-col>
        <ion-col push="1.25">
          <svg>
            <text x="130" y="15" fill="black">{{ falsenegn }}</text>
          </svg>
        </ion-col>
        <ion-col pull="1.25">
          <svg>
            <text x="130" y="15" fill="black">{{ falseposn }}</text>
          </svg>
        </ion-col>
        <ion-col pull="1.75">
          <svg>
            <text x="130" y="15" fill="black">{{ truenegn }}</text>
          </svg>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            {{trueposn}}/{{totaltestposn}} = {{ trueposn/totaltestposn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{truenegn}}/{{totaltestnegn}} = {{ truenegn/totaltestnegn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{falsenegn}}/{{totaltestnegn}} = {{ falsenegn/totaltestnegn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{falseposn}}/{{totaltestposn}} = {{ falseposn/totaltestposn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-radio-group  (ionChange)="Frage($event)">
            <ion-item>
              <ion-label>72</ion-label>
              <ion-radio value="72"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>62</ion-label>
              <ion-radio value="62"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>38</ion-label>
              <ion-radio value="8"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>28</ion-label>
              <ion-radio value="28"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>45</ion-label>
              <ion-radio value="45"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-button (click)="getBackTask()">Zurück</ion-button>
      <ion-button (click)="getNextTask()">Weiter</ion-button>
    </div>

    <div *ngIf="tasknumber === 4">
      <ion-row>
        <ion-col>
          <p><b>Aufgabe 4 mit RangeTree</b></p>
          <p>
            Sie haben einen Patienten untersuchen einen Patienten mit den
            typischen Zeichen einer Cystitis (Harnblasenentzündung). Um ihren
            Verdacht zu erhärten ordnen sie einen U-Stix Test an. Sie wissen,
            dass Patienten mit dieser Symptomatik zu 63% eine Cystits haben. Ihr
            Test hat bei einem erkrankten Patienten zu 84% ein positives
            Testergebnis. Allerdings ist er auch bei 55% der nicht-Erkrankten
            positiv. Wie hoch ist die Wahrscheinlichkeit, dass ihr Patiten bei
            einem positiven Testergebnis tatsächlich eine Cystists hat? Wählen
            Sie <b>eine</b> Antwort aus!
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Prävalenz</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="prevalence"
              (ionChange)="prevalencechange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="prevalence"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Sensitivität</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="sensitivity"
              (ionChange)="sensitivitychange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="sensitivity"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Spezifität</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="specifity"
              (ionChange)="specifitychange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="specifity"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offset="4.5">
          <svg>
            <line
              x1="100"
              y1="30"
              x2="0"
              y2="150"
              style="stroke:rgb(0, 0, 0);stroke-width:2"
            />
            <text x="130" y="15" fill="black">{{ totalr }}</text>
            <line
              x1="200"
              y1="30"
              x2="300"
              y2="150"
              style="stroke:rgb(0, 0, 0);stroke-width:2"
            />
          </svg>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="3">
          <svg>
            <line
              x1="100"
              y1="30"
              x2="0"
              y2="150"
              style="stroke:rgb(0,0,0);stroke-width:2"
            />
            <text x="130" y="15" fill="black">{{ totalillr }}</text>
            <line
              x1="200"
              y1="30"
              x2="300"
              y2="150"
              style="stroke:rgb(0,0,0);stroke-width:2"
            />
          </svg>
        </ion-col>
        <ion-col pull="1.5">
          <svg>
            <line
              x1="100"
              y1="30"
              x2="0"
              y2="150"
              style="stroke:rgb(0,0,0);stroke-width:2"
            />
            <text x="130" y="15" fill="black">{{ totalwellr }}</text>
            <line
              x1="200"
              y1="30"
              x2="300"
              y2="150"
              style="stroke:rgb(0, 0, 0);stroke-width:2"
            />
          </svg>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col push="1.75">
          <svg>
            <text x="130" y="15" fill="black">{{ trueposr }}</text>
          </svg>
        </ion-col>
        <ion-col push="1.25">
          <svg>
            <text x="130" y="15" fill="black">{{ falsenegr }}</text>
          </svg>
        </ion-col>
        <ion-col pull="1.25">
          <svg>
            <text x="130" y="15" fill="black">{{ falseposr }}</text>
          </svg>
        </ion-col>
        <ion-col pull="1.75">
          <svg>
            <text x="130" y="15" fill="black">{{ truenegr }}</text>
          </svg>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >{{trueposr}}/{{totaltestposr}} = {{ (trueposr / totaltestposr)*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >{{ truenegr }}/{{totaltestnegr}} = {{ (truenegr / totaltestnegr)
            *100 }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >{{falsenegr}}/{{totaltestnegr}} = {{ (falsenegr / totaltestnegr)
            *100 }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >{{falseposr}}/{{totaltestnegr}} = {{ (falseposr / totaltestposr)
            *100 }}%</ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-radio-group (ionChange)="Frage($event)">
            <ion-item>
              <ion-label>72</ion-label>
              <ion-radio value="72"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>62</ion-label>
              <ion-radio value="62"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>38</ion-label>
              <ion-radio value="38"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>28</ion-label>
              <ion-radio value="28"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>45</ion-label>
              <ion-radio value="45"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-button (click)="getBackTask()">Zurück</ion-button>
      <ion-button (click)="getNextTask()">Weiter</ion-button>
    </div>

    <div *ngIf="tasknumber === 5">
      <ion-row>
        <ion-col>
          <p>
            <b
              >Aufgabe 5 mit NumberSlider ggf noch Sens/Spez/Präv einfügen auch
              bei NumberIcon</b
            >
          </p>
          <p>
            Sie arbeiten auf einer Intensivstation und vermuten eine VAP
            (Ventilations-assoziierte Pneuomie) bei einem ihrer Patieten. Sie
            wissen, dass 240 von 500 Personen eine Pneuomnie haben. Um
            sicherzugehen wollen Sie den CPIS Score verwenden. Aus einer
            Fachzeitschrift wissen Sie, dass ihr Test bei 156 von 240 Erkrankten
            ein positives Testergebnis hat und 166 von 260 nicht-Erkrankten
            richtig erkennt. Wenn Sie ein negativen Score erhalten, wie hoch ist
            die Wahrscheinlichkeit dass Ihr Patient <b>keine</b> VAP hat? Wählen
            Sie <b>eine</b> Antwort aus!
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Krank & Testpositive Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="trueposn"
              (ionChange)="trueposchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Gesund & Testpositive Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="falseposn"
              (ionChange)="falseposchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Krank & Testnegative Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="falsenegn"
              (ionChange)="falsenegchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Gesund & Testnegative Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="truenegn"
              (ionChange)="truenegchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <svg>
              <g>
                <rect
                  *ngFor="let rrn of redrectn"
                  width="40"
                  [attr.height]="rrn"
                  style="fill: red;"
                ></rect>
                <rect
                  *ngFor="let yrn of yellowrectn"
                  width="40"
                  [attr.height]="yrn"
                  x="40"
                  style="fill: orange;"
                ></rect>
                <rect
                  *ngFor="let brn of bluerectn"
                  width="40"
                  [attr.height]="brn"
                  x="120"
                  style="fill: blue;"
                ></rect>
                <rect
                  *ngFor="let grn of greenrectn"
                  width="40"
                  [attr.height]="grn"
                  x="80"
                  style="fill: green;"
                ></rect>
              </g>
            </svg>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            Rot = {{ trueposn }}, Gelb = {{ falsenegn }}, Blau = {{ falseposn
            }}, Grün = {{ truenegn }}, Total = {{ totaln }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            {{trueposn}}/{{totaltestposn}} = {{ trueposn/totaltestposn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{truenegn}}/{{totaltestnegn}} = {{ truenegn/totaltestnegn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{falsenegn}}/{{totaltestnegn}} = {{ falsenegn/totaltestnegn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{falseposn}}/{{totaltestposn}} = {{ falseposn/totaltestposn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-radio-group (ionChange)="Frage($event)">
            <ion-item>
              <ion-label>62</ion-label>
              <ion-radio value="62"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>66</ion-label>
              <ion-radio value="66"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>34</ion-label>
              <ion-radio value="34"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>38</ion-label>
              <ion-radio value="38"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>36</ion-label>
              <ion-radio value="36"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-button (click)="getBackTask()">Zurück</ion-button>
      <ion-button (click)="getNextTask()">Weiter</ion-button>
    </div>

    <div *ngIf="tasknumber === 6">
      <ion-row>
        <ion-col>
          <p><b>Aufgabe 6 mit RangeSlider</b></p>
          <p>
            Sie arbeiten auf einer Intensivstation und vermuten eine VAP
            (Ventilations-assoziierte Pneuomie) bei einem ihrer Patieten. Sie
            wissen, dass die Prävalenz der Pneuomie 48% beträgt. Um
            sicherzugehen wollen Sie den CPIS Score verwenden. Aus einer
            Fachzeitschrift wissen Sie, dass die Sensitivität 65% und die
            Spezifität 64% betragen. Wenn Sie ein negativen Score erhalten, wie
            hoch ist die Wahrscheinlichkeit dass Ihr Patient <b>keine</b> VAP
            hat? Wählen Sie <b>eine</b> Antwort aus!
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Prävalenz</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="prevalence"
              (ionChange)="prevalencechange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="prevalence"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Sensitivität</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="sensitivity"
              (ionChange)="sensitivitychange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="sensitivity"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Spezifität</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="specifity"
              (ionChange)="specifitychange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="specifity"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <svg>
              <g>
                <rect
                  *ngFor="let rrr of redrectr"
                  width="40"
                  [attr.height]="rrr"
                  style="fill: red;"
                ></rect>
                <rect
                  *ngFor="let yrr of yellowrectr"
                  width="40"
                  [attr.height]="yrr"
                  x="40"
                  style="fill: orange;"
                ></rect>
                <rect
                  *ngFor="let brr of bluerectr"
                  width="40"
                  [attr.height]="brr"
                  x="120"
                  style="fill: blue;"
                ></rect>
                <rect
                  *ngFor="let grr of greenrectr"
                  width="40"
                  [attr.height]="grr"
                  x="80"
                  style="fill: green;"
                ></rect>
              </g>
            </svg>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            Rot = {{ trueposr }}, Gelb = {{ falsenegr }}, Blau = {{ falseposr
            }}, Grün = {{ truenegr }}, Total = {{ totalr }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >{{trueposr}}/{{totaltestposr}} = {{ (trueposr / totaltestposr)*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >{{ truenegr }}/{{totaltestnegr}} = {{ (truenegr / totaltestnegr)
            *100 }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >{{falsenegr}}/{{totaltestnegr}} = {{ (falsenegr / totaltestnegr)
            *100 }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >{{falseposr}}/{{totaltestnegr}} = {{ (falseposr / totaltestposr)
            *100 }}%</ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-radio-group (ionChange)="Frage($event)">
            <ion-item>
              <ion-label>62</ion-label>
              <ion-radio value="62"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>66</ion-label>
              <ion-radio value="66"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>34</ion-label>
              <ion-radio value="34"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>38</ion-label>
              <ion-radio value="38"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>36</ion-label>
              <ion-radio value="36"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-button (click)="getBackTask()">Zurück</ion-button>
      <ion-button (click)="getNextTask()">Weiter</ion-button>
    </div>

    <div *ngIf="tasknumber === 7">
      <ion-row>
        <ion-col>
          <p><b>Aufgabe 7 mit NumberIcon</b></p>
          <p>
            Eine Maserninfektion während der frühen Schwangerschaftsphase können
            einen schweren pränatalen Schaden im Fötus verursachen. Deshalb
            werden schwangere Frauen routinemäßig auf eine Maserninfektion
            untersucht. In einem Test wird festgestellt, dass eine Frau
            infiziert ist. Um die beste Entscheidungshilfe geben zu können
            möchte der zuständige Arzt erst festellen mit welcher
            Wahrscheinlichkeit ein Kind einen schweren pränatalen Schaden hat,
            wenn die Mutter während der frühen Schwangerschaftsphase eine
            Maserninfektion hatte. Der Arzt hat die folgenden Informationen: Die
            Wahrscheinlichkeit von schwerem pränatalen Kindsschaden beträgt
            5/500. Die Wahrscheinlichkeit, wenn die Mutter keine Maserninfektion
            hatte, dass das Kind einen schweren pränatalen Schaden hat beträgt
            2/5. Die Wahrscheinlichkeit, wenn die Mutter eine Maserninfektion
            hatte, dass das Kind keinen schweren pränatalen Schaden hat beträgt
            5/495. Wie hoch ist die Wahrscheinlichkeit, dass das Kind einen
            schweren pränatalen Schaden hat, wenn die Mutter eine
            Maserninfektion in der frühen Schwangerschaftsphase hatte? Wählen
            Sie
            <b>eine</b> Antwortmöglichkeit aus!
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Krank & Testpositive Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="trueposn"
              (ionChange)="trueposchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Gesund & Testpositive Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="falseposn"
              (ionChange)="falseposchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Krank & Testnegative Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="falsenegn"
              (ionChange)="falsenegchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"
              >Gesund & Testnegative Personen</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="truenegn"
              (ionChange)="truenegchange($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <img
              *ngFor="let img of rediconn"
              width="20"
              height="40"
              src="{{ rediconn[0] }}"
            />
            <img
              *ngFor="let img of yellowiconn"
              width="20"
              height="40"
              src="{{ yellowiconn[0] }}"
            />
            <img
              *ngFor="let img of blueiconn"
              width="20"
              height="40"
              src="{{ blueiconn[0] }}"
            />
            <img
              *ngFor="let img of greeniconn"
              width="20"
              height="40"
              src="{{ greeniconn[0] }}"
            />
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            Rot = {{ trueposn }}, Gelb = {{ falsenegn }}, Blau = {{ falseposn
            }}, Grün = {{ truenegn }}, Total = {{ totaln }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            {{trueposn}}/{{totaltestposn}} = {{ trueposn/totaltestposn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{truenegn}}/{{totaltestnegn}} = {{ truenegn/totaltestnegn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{falsenegn}}/{{totaltestnegn}} = {{ falsenegn/totaltestnegn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{falseposn}}/{{totaltestposn}} = {{ falseposn/totaltestposn*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-radio-group (ionChange)="Frage($event)">
            <ion-item>
              <ion-label>29</ion-label>
              <ion-radio value="29"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>99</ion-label>
              <ion-radio value="99"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>1</ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>71</ion-label>
              <ion-radio value="71"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>60</ion-label>
              <ion-radio value="60"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-button (click)="getBackTask()">Zurück</ion-button>
      <ion-button (click)="getNextTask()">Weiter</ion-button>
    </div>

    <div *ngIf="tasknumber === 8">
      <ion-row>
        <ion-col>
          <p><b>Aufgabe 8 mit RangeIcon</b></p>
          <p>
            Eine Maserninfektion während der frühen Schwangerschaftsphase können
            einen schweren pränatalen Schaden im Fötus verursachen. Deshalb
            werden schwangere Frauen routinemäßig auf eine Maserninfektion
            untersucht. In einem Test wird festgestellt, dass eine Frau
            infiziert ist. Um die beste Entscheidungshilfe geben zu können
            möchte der zuständige Arzt erst festellen mit welcher
            Wahrscheinlichkeit ein Kind einen schweren pränatalen Schaden hat,
            wenn die Mutter während der frühen Schwangerschaftsphase eine
            Maserninfektion hatte. Der Arzt hat die folgenden Informationen: Die
            Wahrscheinlichkeit von schwerem pränatalen Kindsschaden beträgt 1%.
            Die Wahrscheinlichkeit, wenn die Mutter keine Maserninfektion hatte,
            dass das Kind einen schweren pränatalen Schaden hat beträgt 40%. Die
            Wahrscheinlichkeit, wenn die Mutter eine Maserninfektion hatte, dass
            das Kind keinen schweren pränatalen Schaden hat beträgt 99%. Wie
            hoch ist die Wahrscheinlichkeit, dass das Kind einen schweren
            pränatalen Schaden hat, wenn die Mutter eine Maserninfektion in der
            frühen Schwangerschaftsphase hatte? Wählen Sie
            <b>eine</b> Antwortmöglichkeit aus!
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Prävalenz</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="prevalence"
              (ionChange)="prevalencechange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="prevalence"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Sensitivität</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="sensitivity"
              (ionChange)="sensitivitychange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="sensitivity"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Spezifität</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="specifity"
              (ionChange)="specifitychange($event)"
            ></ion-input>
            <ion-range
              [(ngModel)]="specifity"
              max="100"
              min="0"
              step="1"
              pin="true"
            ></ion-range>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <img
              *ngFor="let img of rediconr"
              width="20"
              height="40"
              src="{{ rediconr[0] }}"
            />
            <img
              *ngFor="let img of yellowiconr"
              width="20"
              height="40"
              src="{{ yellowiconr[0] }}"
            />
            <img
              *ngFor="let img of blueiconr"
              width="20"
              height="40"
              src="{{ blueiconr[0] }}"
            />
            <img
              *ngFor="let img of greeniconr"
              width="20"
              height="40"
              src="{{ greeniconr[0] }}"
            />
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>
            Rot = {{ trueposr }}, Gelb = {{ falsenegr }}, Blau = {{ falseposr
            }}, Grün = {{ truenegr }}, Total = {{ totalr }}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label
            >{{trueposr}}/{{totaltestposr}} = {{ (trueposr / totaltestposr)*100
            }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >{{ truenegr }}/{{totaltestnegr}} = {{ (truenegr / totaltestnegr)
            *100 }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >{{falsenegr}}/{{totaltestnegr}} = {{ (falsenegr / totaltestnegr)
            *100 }}%</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label
            >{{falseposr}}/{{totaltestnegr}} = {{ (falseposr / totaltestposr)
            *100 }}%</ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-radio-group (ionChange)="Frage($event)">
            <ion-item>
              <ion-label>29</ion-label>
              <ion-radio value="29"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>99</ion-label>
              <ion-radio value="99"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>1</ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>71</ion-label>
              <ion-radio value="71"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>60</ion-label>
              <ion-radio value="60"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-button (click)="getBackTask()">Zurück</ion-button>
      <ion-button (click)="getNextTask()">Weiter</ion-button>
    </div>
  </ion-grid>
</ion-content>
