<ion-header>
  <ion-toolbar>
    <ion-row>

    
  
     
     
    
        <ion-title>Impressum</ion-title>
        
    </ion-row>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-buttons>
      <ion-back-button
        defaultHref=""
        icon="arrow-back"
        color="primary"
      ></ion-back-button>Startseite
    </ion-buttons>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <h2>Haftung</h2>
      <div class="white-space: normal">
        Diese Website dient ausschließlich Forschungs- und Lehrzwecken. Es wird
        keine Garantie übernommen, weder ausdrücklich noch implizit, für die Art
        oder Richtigkeit des dargebotenen Materials und es wird keine Haftung
        übernommen bezüglich der Nutzung dieses Materials.
      </div>
    </ion-col>

    <ion-col></ion-col>
  </ion-row>
</ion-content>
