<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>Impressum</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-buttons>
      <ion-back-button
        defaultHref=""
        icon="arrow-back"
        color="primary"
      ></ion-back-button
      >Riskestimator
    </ion-buttons>
  </ion-row>

  <ion-row>
    <ion-col>
      <h2>Herausgeber</h2>
      <p>Toddenroth, Dennis</p>
      <p>
        Wetterkreuz 15
        <br />
        91058 Erlangen-Tennenlohe
      </p>

      <ul>
        <li>Telefon: +49 9131 85-67783</li>
        <li>Fax: +49 9131 85-26754</li>
        <li>E-Mail: dennis.toddenroth@fau.de</li>
      </ul>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h2>Vertreten durch</h2>
      <p>
        Lehrstuhl für Medizinische Informatik ist eine Einrichtung des Öffentlichen Rechts innerhalb der  Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU). 
        <a href="https://www.fau.de"
          >Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU)</a
        >.
      </p>
      <p>
        Gemäß Art. 20, 21 BayHSchG wird die FAU als staatliche Einrichtung und Selbstverwaltungskörperschaft des öffentlichen Rechts nach außen durch den Präsidenten vertreten. 
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h2>Kontaktperson für den Inhalt</h2>
      <p>Sebastian Neher</p>
      <p>Email: sebastian.neher@fau.de</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h2>Nutzungsbedinungen</h2>
      <p>
        Texte, Bilder, Grafiken sowie die Gestaltung dieser Internetseiten
        können dem Urheberrecht unterliegen.
      </p>
      <p>
        Nicht urheberrechtlich geschützt sind nach § 5 des Urheberrechtsgesetz
        (UrhG)
      </p>
      <ul>
        <li>
          Gesetze, Verordnungen, amtliche Erlasse und Bekanntmachungen sowie
          Entscheidungen und amtlich verfasste Leitsätze zu Entscheidungen und
        </li>
        <li>
          andere amtliche Werke, die im amtlichen Interesse zur allgemeinen
          Kenntnisnahme veröffentlicht worden sind, mit der Einschränkung, dass
          die Bestimmungen über Änderungsverbot und Quellenangabe in § 62 Abs. 1
          bis 3 und § 63 Abs. 1 und 2 UrhG entsprechend anzuwenden sind.
        </li>
      </ul>
      <p>
        Als Privatperson dürfen Sie urheberrechtlich geschütztes Material zum
        privaten und sonstigen eigenen Gebrauch im Rahmen des
        <a href="http://www.gesetze-im-internet.de/urhg/__53.html"
          >§ 53 Urheberrechtsgesetz (UrhG)</a
        >
        verwenden. Eine Vervielfältigung oder Verwendung dieser Seiten oder
        Teilen davon in anderen elektronischen oder gedruckten Publikationen und
        deren Veröffentlichung ist nur mit unserer Einwilligung gestattet. Diese
        erteilen auf Anfrage die für den Inhalt Verantwortlichen. Der Nachdruck
        und die Auswertung von Pressemitteilungen und Reden sind mit
        Quellenangabe allgemein gestattet.
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h2>Haftungsausschluss</h2>
      <p>
        Dieses Impressum gilt nur für den Webauftritt unter der Adresse:
        <br />
        <strong> https://riskestimator.imi.med.fau.de/ </strong>
      </p>
      <p>
        Alle auf dieser Internetseite bereitgestellten Informationen haben wir
        nach bestem Wissen und Gewissen erarbeitet und geprüft. Eine Gewähr für
        die jederzeitige Aktualität, Richtigkeit, Vollständigkeit und
        Verfügbarkeit der bereit gestellten Informationen können wir allerdings
        nicht übernehmen. Ein Vertragsverhältnis mit den Nutzern des
        Internetangebots kommt nicht zustande.
      </p>

      <p>
        Wir haften nicht für Schäden, die durch die Nutzung dieses
        Internetangebots entstehen. Dieser Haftungsausschluss gilt nicht, soweit
        die Vorschriften des
        <a href="http://www.gesetze-im-internet.de/bgb/__839.html"
          >§ 839 des Bürgerlichen Gesetzbuches</a
        >
        (Haftung bei Amtspflichtverletzung) einschlägig sind. Für etwaige
        Schäden, die beim Aufrufen oder Herunterladen von Daten durch
        Schadsoftware oder der Installation oder Nutzung von Software verursacht
        werden, wird nicht gehaftet.
        <br />
        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf
        diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach § 8 bis
        10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
        übermittelte oder gespeicherte fremde Informationen zu überwachen oder
        nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit
        hinweisen.
        <br />
        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
        Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
        Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
        Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
        entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
        entfernen. Der Betreiber behält es sich ausdrücklich vor, einzelne
        Webseiten, Web-Dienste oder das gesamte Angebot ohne gesonderte
        Ankündigung zu verändern, zu ergänzen, zu löschen oder die
        Veröffentlichung zeitweise oder endgültig einzustellen.
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h2>Haftung für Links</h2>
      <p>
        Unser Angebot enthält Links zu externen Webauftritte Dritter, auf deren
        Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
        Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
        Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
        verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
        Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
        waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
        inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
        Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden
        von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div>
        <h2>Licence</h2>

        <p>
          MIT License Copyright (c) 2021 Sebastian Neher and other contributors
          Permission is hereby granted, free of charge, to any person obtaining
          a copy of this software and associated documentation files (the
          "Software"), to deal in the Software without restriction, including
          without limitation the rights to use, copy, modify, merge, publish,
          distribute, sublicense, and/or sell copies of the Software, and to
          permit persons to whom the Software is furnished to do so, subject to
          the following conditions:
        </p>
        <p>
          The above copyright notice and this permission notice shall be
          included in all copies or substantial portions of the Software.
        </p>
        <p>
          THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
          EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
          MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
          IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
          CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
          TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
          SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        </p>
        <h2>Ionic</h2>
        <p>Ionic Framework Version: 5.4.16</p>
        <p>
          About Ionic:
          <a href="https://ionicframework.com/" target="_blank"
            >https://ionicframework.com/</a
          >
        </p>
        <p>Ionic is a trademark of Drifty Co. (d/b/a Ionic)</p>
        <h2>Angular</h2>
        <p>Angular Framework Version: 10.2.2</p>
        <p>
          About Angular:
          <a href="https://angular.io/" target="_blank">https://angular.io/ </a>
        </p>
        <p>Angular is a trademark of Google LLC</p>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
