<ion-header>
  <ion-toolbar>
    <ion-title>Barrierefreiheit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-buttons>
      <ion-back-button
        defaultHref=""
        icon="arrow-back"
        color="primary"
      ></ion-back-button
      >Riskestimator
    </ion-buttons>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>
        Der Anbieter dieses Webangebots (Sebastian Neher) ist bemüht, das
        Angebot im Einklang mit der gültigen Gesetzgebung barrierefrei
        zugänglich zu machen. Diese Erklärung zur Barrierefreiheit gilt für die
        Webauftritte und Anwendungen, die unter
        https://riskestimator.imi.med.fau.de/ verfügbar sind.
      </p>
      <h2>
        Stand der Vereinbarkeit mit den Anforderungen ("Konformitätsstatus")
      </h2>
      <p>
        Teilweise konform: Einige Teile des Inhalts entsprechen nicht
        vollständig dem Standard für Barrierefreiheit.
      </p>
      <p><strong>Methodik der Prüfung:</strong> Selbstbewertung</p>
      <p><strong>Erstellungsdatum:</strong> 02.11.2021</p>
      <p><strong>Letzte Überprüfung:</strong> 02.11.2021</p>
      <h2>Bekannte Probleme bei der Barrierefreiheit</h2>
      <p>
        Auflistung und Erläuterung der Probleme bei der Umsetzung der
        Barrierefreiheit dieses Webauftritts
      </p>
      <h3>Nicht barrierefrei zugängliche Inhalte</h3>
      <ul>
        <li>Keine Erklärungen zu Eingabe- und Ausgabeoptionen</li>
      </ul>
      <h3>Begründung</h3>
      <ul>
        <li>
          Diese Anwendung wurde zu Lehr- und Forschungszwecken erstellt. Die
          Bedienung wird an anderer Stelle in einem internen Mitgliederbereich
          erklärt.
        </li>
      </ul>
      <h3>Alternative Zugangswege</h3>
      <ul>
        <li>Auf Anfrage kann die Bedienung per PDF zugeschickt werden.</li>
      </ul>
      <h2>Hilfe und Kontaktaufnahme bei Problemen</h2>
      <p>
        Sie können Mängel bei der Einhaltung der Anforderungen an die
        Barrierefreiheit mitteilen oder Informationen, die nicht barrierefrei
        dargestellt werden müssen, barrierefrei anfordern.
      </p>
      <h3>Kontaktperson</h3>
      <p>Sebastian Neher</p>
      <p>Email: sebastian.neher@fau.de</p>
      <h3>Durchsetzungsverfahren</h3>
      <p>
        Bleibt eine Anfrage über die Kontaktmöglichkeit innerhalb von sechs
        Wochen ganz oder teilweise unbeantwortet, prüft die zuständige
        Aufsichtsbehörde auf Antrag des Nutzers, ob im Rahmen der Überwachung
        gegenüber dem Verpflichteten Maßnahmen erforderlich sind.
      </p>
      <p>
        Kontaktinformation der für das Durchsetzungsverfahren zuständigen
        Aufsicht:
      </p>

      <p>
        <strong>Landesamt für Digitalisierung, Breitband und Vermessung</strong>
      </p>
      <p>
        St.-Martin-Straße 47
        <br />
        81541 München
      </p>
      <ul>
        <li>Telefon: +49 89 2129-1111</li>
        <li>Fax: +49 89 2129-1113</li>
        <li>Email: bitv@bayern.de</li>
        <li>Info: https://www.ldbv.bayern.de/digitalisierung/bitv.html</li>
      </ul>
    </ion-col>
  </ion-row>
</ion-content>
